
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 137.4rem;
}.desktop-5-4Ct {
  width: 100%;
  height: 228.2rem;
  position: relative;
  box-shadow: 0.6rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

  .frame-5-QXe {
    background-color: #ffffff;
    border-radius: 4rem;
    height: 228.2rem;
    left: 0;
    border: solid 0.3rem #000000;
    position: absolute;
    top: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 8.5rem 0.3rem 0rem 0.3rem;
    width: 137.4rem;

    .auto-group-hg5z-txc {
      margin: 0rem 32.9rem 8.1rem 33.8rem;
      width: calc(100% - 66.7rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .ellipse-2-pbN {
        height: 4.6rem;
        background-color: #305a37;
        border-radius: 2.3rem;
        flex-shrink: 0;
        margin: 0rem 1.6rem 9.6rem 0rem;
        width: 4.6rem;
      }
      .about-us-home-about-us-vuJ {
        white-space: nowrap;
        display: flex;
        align-items: baseline;
        flex-shrink: 0;
        text-align: center;
        line-height: 1.25;
        letter-spacing: 0.048rem;
        font-family: Lexend Deca, 'Source Sans Pro';
        margin: 0rem 0.5rem 0.6rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
        color: #000000;

        .about-us-home-about-us-vuJ-sub-0 {
          font-size: 6.4rem;
          font-weight: 700;
          line-height: 1.25;
          letter-spacing: 0.048rem;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
        .about-us-home-about-us-vuJ-sub-1 {
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          letter-spacing: 0.048rem;
          color: #000000;
        }
      }
      .multiple-stars-CEY {
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 4.6rem;
        width: 9.6rem;
        height: 9.6rem;
        object-fit: contain;
      }
    }
    .auto-group-cf88-Ka4 {
      margin-bottom: 3.8rem;
      width: 100%;
      height: 79.5rem;
      position: relative;
      flex-shrink: 0;

      .item-2914501-1-3W4 {
        border-radius: 13rem;
        width: 53.9rem;
        height: 46.6rem;
        position: absolute;
        left: 79.3rem;
        top: 2.4rem;
        object-fit: cover;
        vertical-align: top;
      }
      .rectangle-23-Lzx {
        background-color: #ffffff;
        width: 27.4rem;
        height: 6rem;
        position: absolute;
        left: 90.1rem;
        top: 44.2rem;
      }
      .rectangle-7-5he {
        left: 6.1rem;
        top: 44.2rem;
        background-color: #d9d9d9;
        width: 40.9rem;
        height: 0.1rem;
        position: absolute;
      }
      .rectangle-13-Dor {
        width: 136.8rem;
        height: 30.5rem;
        position: absolute;
        left: 0;
        top: 49rem;
        background-color: rgba(255, 198, 0, 0.5);
        border-radius: 2.9rem;
      }
      .about-our-company-master-the-skills-to-drive-your-career-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-xWY {
        left: 4rem;
        top: 0;
        font-size: 2.4rem;
        color: #000000;
        font-family: Lexend Deca, 'Source Sans Pro';
        height: 44.3rem;
        position: absolute;
        font-weight: 700;
        line-height: 1.25;
        width: 70.7rem;

        .about-our-company-master-the-skills-to-drive-your-career-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-xWY-sub-0 {
        }
        .about-our-company-master-the-skills-to-drive-your-career-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-xWY-sub-1 {
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 4rem;
        }
        .about-our-company-master-the-skills-to-drive-your-career-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-xWY-sub-2 {
        }
        .about-our-company-master-the-skills-to-drive-your-career-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-xWY-sub-3 {
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
      }
      .rectangle-24-TJC {
        box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #429349;
        border-radius: 2rem;
        width: 26.7rem;
        height: 11rem;
        position: absolute;
        left: 2.2rem;
        top: 58rem;
      }
      .rectangle-25-k2Q {
        width: 6rem;
        height: 5.8rem;
        position: absolute;
        left: 5.6rem;
        top: 60.6rem;
        box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #000000;
        border-radius: 2rem;
      }
      .k-online-courses-Fzk {
        font-family: Lexend Deca, 'Source Sans Pro';
        width: 9.4rem;
        height: 4.7rem;
        left: 14.6rem;
        font-size: 2rem;
        line-height: 1.25;
        position: absolute;
        top: 61.1rem;
        font-weight: 400;
        color: #ffffff;

        .k-online-courses-Fzk-sub-0 {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
        .k-online-courses-Fzk-sub-1 {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
      }
      .rectangle-26-pAg {
        box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #429349;
        border-radius: 2rem;
        width: 26.7rem;
        height: 11rem;
        position: absolute;
        left: 37.5rem;
        top: 58rem;
      }
      .rectangle-27-Kt8 {
        border-radius: 2rem;
        width: 6rem;
        height: 5.8rem;
        position: absolute;
        left: 40.9rem;
        top: 60.6rem;
        box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #000000;
      }
      .k-expert-tutors-SC4 {
        font-weight: 400;
        line-height: 1.25;
        left: 49.9rem;
        top: 61.1rem;
        font-size: 2rem;
        color: #ffffff;
        font-family: Lexend Deca, 'Source Sans Pro';
        width: 8.4rem;
        height: 4.7rem;
        position: absolute;

        .k-expert-tutors-SC4-sub-0 {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
        .k-expert-tutors-SC4-sub-1 {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
      }
      .rectangle-28-CKe {
        border-radius: 2rem;
        width: 26.7rem;
        height: 11rem;
        position: absolute;
        left: 72.8rem;
        top: 58.1rem;
        box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #429349;
      }
      .rectangle-29-hnC {
        height: 5.8rem;
        position: absolute;
        left: 76.2rem;
        top: 60.7rem;
        box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #000000;
        border-radius: 2rem;
        width: 6rem;
      }
      .k-ceritified-courses-E1S {
        line-height: 1.25;
        color: #ffffff;
        position: absolute;
        height: 4.7rem;
        left: 85.2rem;
        top: 61.2rem;
        font-size: 2rem;
        font-weight: 400;
        font-family: Lexend Deca, 'Source Sans Pro';
        width: 11.3rem;

        .k-ceritified-courses-E1S-sub-0 {
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 700;
        }
        .k-ceritified-courses-E1S-sub-1 {
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 1.3rem;
        }
      }
      .rectangle-30-ydE {
        border-radius: 2rem;
        width: 26.7rem;
        height: 11rem;
        position: absolute;
        left: 108.1rem;
        top: 58rem;
        box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #429349;
      }
      .rectangle-31-Htp {
        top: 60.6rem;
        box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #000000;
        border-radius: 2rem;
        width: 6rem;
        height: 5.8rem;
        position: absolute;
        left: 111.5rem;
      }
      .k-online-students-osA {
        left: 120.5rem;
        top: 61.1rem;
        font-size: 2rem;
        line-height: 1.25;
        font-family: Lexend Deca, 'Source Sans Pro';
        width: 10rem;
        height: 4.7rem;
        position: absolute;
        font-weight: 400;
        color: #ffffff;

        .k-online-students-osA-sub-0 {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
        .k-online-students-osA-sub-1 {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
      }
      .student-male-nDJ {
        top: 61.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 5.7rem;
        height: 4.2rem;
        position: absolute;
        left: 111.5rem;
      }
      .physics-wallah-iMr {
        left: 5.4rem;
        top: 61.2rem;
        object-fit: contain;
        vertical-align: top;
        width: 6.4rem;
        height: 4.9rem;
        position: absolute;
      }
      .certificate-ELC {
        height: 5.4rem;
        position: absolute;
        left: 75.9rem;
        top: 61rem;
        object-fit: contain;
        vertical-align: top;
        width: 6.6rem;
      }
      .floating-guru-NBW {
        position: absolute;
        left: 41.5rem;
        top: 60.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 4.8rem;
        height: 5.7rem;
      }
    }
    .vector-1-tQk {
      margin: 0rem 0rem 5.001rem 13.95rem;
      width: 28.15rem;
      height: 6.3991rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-yy5s-onc {
      height: 49.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 4.6rem 8.6rem 2rem;
      width: calc(100% - 6.6rem);

      .item-6876640-1-vcL {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.2rem;
        width: 56.3rem;
        height: 49.9rem;
        object-fit: cover;
      }
      .auto-group-jdba-qzC {
        flex-shrink: 0;
        margin: 5.4rem 0rem 3.6rem 0rem;
        height: calc(100% - 9rem);
        display: flex;
        flex-direction: column;

        .want-to-share-your-knowledge-join-us-a-mentor-high-definition-video-is-video-of-higher-resolution-and-quality-than-standard-definition-while-there-is-no-standardized-meaning-for-high-definition-generally-any-video-best-courses-top-rated-instructors-aB6 {
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 5.2rem;
          max-width: 69.7rem;
          font-size: 1.3rem;

          .want-to-share-your-knowledge-join-us-a-mentor-high-definition-video-is-video-of-higher-resolution-and-quality-than-standard-definition-while-there-is-no-standardized-meaning-for-high-definition-generally-any-video-best-courses-top-rated-instructors-aB6-sub-0 {
            line-height: 1.25;
            color: #000000;
            font-family: Lexend Deca, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 400;
          }
          .want-to-share-your-knowledge-join-us-a-mentor-high-definition-video-is-video-of-higher-resolution-and-quality-than-standard-definition-while-there-is-no-standardized-meaning-for-high-definition-generally-any-video-best-courses-top-rated-instructors-aB6-sub-1 {
          }
          .want-to-share-your-knowledge-join-us-a-mentor-high-definition-video-is-video-of-higher-resolution-and-quality-than-standard-definition-while-there-is-no-standardized-meaning-for-high-definition-generally-any-video-best-courses-top-rated-instructors-aB6-sub-2 {
            color: #000000;
            font-family: Lexend Deca, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.25;
          }
        }
        .group-10-sxp {
          width: 31.8rem;
          line-height: 1.25;
          color: #ffc600;
          font-family: Lexend Deca, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 4rem;
          margin-left: 1rem;
          display: flex;
          background-color: #000000;
          font-weight: 500;
          align-items: center;
          justify-content: center;
          height: 7.5rem;
          font-size: 2.4rem;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-dcdi-k12 {
      align-items: center;
      background-color: #429349;
      flex-shrink: 0;
      display: flex;
      padding: 9.7rem 2.2rem 5.1rem 4.1rem;
      width: 100%;
      height: 44.2rem;
      border-radius: 0 0 4rem 4rem;
      box-sizing: border-box;

      .auto-group-msys-s5e {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 8.8rem;
        height: 100%;

        .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-1Br {
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 4.6rem;
          max-width: 35.9rem;
          font-size: 1.9rem;
          font-weight: 600;

          .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-1Br-sub-0 {
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.25;
            color: #000000;
            font-family: Lexend Deca, 'Source Sans Pro';
          }
          .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-1Br-sub-1 {
          }
          .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-1Br-sub-2 {
            color: #ffffff;
            font-family: Lexend Deca, 'Source Sans Pro';
            font-size: 1.9rem;
            font-weight: 500;
            line-height: 1.25;
          }
          .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-1Br-sub-3 {
          }
        }
        .email-kaameshkkgmailcom-ZWC {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 2rem 0.7rem;
          font-size: 1.9rem;
          font-weight: 600;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
        .auto-group-4xgt-fp8 {
          flex-shrink: 0;
          margin-left: 0.1rem;
          display: flex;
          align-items: center;

          .vector-cUU {
            margin: 0rem 0.8rem 0.1rem 0rem;
            width: 3.8rem;
            height: 3.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .twitterx-jJC {
            margin-right: 0.2rem;
            width: 5.5rem;
            height: 4.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .instagram-rdi {
            width: 4.5rem;
            height: 4.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .explore-home-courses-about-blog-contact-zjv {
        font-size: 1.9rem;
        font-weight: 600;
        line-height: 1.25;
        color: #ffffff;
        font-family: Lexend Deca, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 12rem 1.6rem 0rem;
        max-width: 12.4rem;

        .explore-home-courses-about-blog-contact-zjv-sub-0 {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
        .explore-home-courses-about-blog-contact-zjv-sub-1 {
        }
        .explore-home-courses-about-blog-contact-zjv-sub-2 {
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 1.9rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
        }
      }
      .category-development-ui-ux-designer-photography-teaching-freelancing-G5A {
        font-family: Lexend Deca, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 7.1rem 1.6rem 0rem;
        max-width: 15.1rem;
        font-size: 1.9rem;
        font-weight: 600;
        line-height: 1.25;
        color: #ffffff;

        .category-development-ui-ux-designer-photography-teaching-freelancing-G5A-sub-0 {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
        .category-development-ui-ux-designer-photography-teaching-freelancing-G5A-sub-1 {
        }
        .category-development-ui-ux-designer-photography-teaching-freelancing-G5A-sub-2 {
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 1.9rem;
          font-weight: 500;
          line-height: 1.25;
        }
      }
      .auto-group-oejp-h3z {
        flex-shrink: 0;
        margin-bottom: 6.5rem;
        width: 39.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-qR6 {
          margin: 0rem 0rem 4rem 1.4rem;
          max-width: 37.8rem;
          font-size: 1.9rem;
          font-weight: 600;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
          flex-shrink: 0;

          .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-qR6-sub-0 {
            font-size: 3.6rem;
            font-weight: 600;
            line-height: 1.25;
            color: #000000;
            font-family: Lexend Deca, 'Source Sans Pro';
          }
          .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-qR6-sub-1 {
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.25;
            color: #000000;
            font-family: Lexend Deca, 'Source Sans Pro';
          }
          .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-qR6-sub-2 {
          }
          .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-qR6-sub-3 {
            font-size: 1.9rem;
            font-weight: 500;
            line-height: 1.25;
            color: #ffffff;
            font-family: Lexend Deca, 'Source Sans Pro';
          }
        }
        .auto-group-km8y-zqi {
          align-items: center;
          background-color: #070707;
          flex-shrink: 0;
          margin-right: 1.4rem;
          box-sizing: border-box;
          width: calc(100% - 1.4rem);
          padding: 1.9rem 2.3rem 1.4rem 3.6rem;
          display: flex;
          border-radius: 3rem;

          .email-us-KNC {
            flex-shrink: 0;
            margin-right: 19.2rem;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.25;
            color: #ffffff;
            font-family: Lexend Deca, 'Source Sans Pro';
            white-space: nowrap;
          }
          .flutter-4Kn {
            width: 3.9rem;
            height: 3.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .frame-4-KWc {
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    left: 1.2rem;
    align-items: center;
    position: absolute;
    top: 0.5rem;
    display: flex;
    background-size: cover;
    background-image: url('REPLACE_IMAGE:205:100');
    padding: 1.8rem 40.7rem 3.2rem 38.6rem;
    width: 134.6rem;
    height: 7.5rem;

    .home-1PS {
      font-size: 2rem;
      font-weight: 600;
      font-family: Lexend Deca, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 6.6rem;
      line-height: 1.25;
      color: #000000;
      cursor: pointer;
    }
    .about-us-8ix {
      flex-shrink: 0;
      margin-right: 7.4rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.25;
      color: #ffc600;
      font-family: Lexend Deca, 'Source Sans Pro';
      white-space: nowrap;
    }
    .product-SzY {
      margin-right: 7.3rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend Deca, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .contact-us-zFN {
      cursor: pointer;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend Deca, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
