
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 137.4rem;
}.desktop-4-L2x {
  height: 228.2rem;
  position: relative;
  box-shadow: 0.6rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  width: 100%;

  .frame-5-Srg {
    left: 0;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 137.4rem;
    position: absolute;
    flex-direction: column;
    border: solid 0.3rem #000000;
    border-radius: 4rem;
    padding: 8.5rem 0.3rem 0rem 0.3rem;
    height: 228.2rem;
    top: 0;

    .auto-group-xmcg-LBN {
      width: calc(100% - 66.7rem);
      height: 14.2rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 32.9rem 2.8rem 33.8rem;

      .contact-us-home-contact-us-SkC {
        width: 64rem;
        text-align: center;
        letter-spacing: 0.048rem;
        font-size: 4.8rem;
        line-height: 1.25;
        color: #000000;
        align-items: baseline;
        font-family: Lexend Deca, 'Source Sans Pro';
        white-space: nowrap;
        height: 8rem;
        position: absolute;
        left: 1.1rem;
        top: 2.8rem;
        font-weight: 700;
        display: flex;

        .contact-us-home-contact-us-SkC-sub-0 {
          font-size: 6.4rem;
          font-weight: 700;
          line-height: 1.25;
          letter-spacing: 0.048rem;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
        .contact-us-home-contact-us-SkC-sub-1 {
          line-height: 1.25;
          letter-spacing: 0.048rem;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
      .multiple-stars-pPN {
        height: 9.6rem;
        position: absolute;
        left: 60.5rem;
        top: 4.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 9.6rem;
      }
      .ellipse-2-M8Q {
        background-color: #305a37;
        border-radius: 2.3rem;
        width: 4.6rem;
        height: 4.6rem;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .auto-group-gblp-5KJ {
      margin-bottom: 5.6rem;
      width: 100%;
      height: 49.6rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-7-zx4 {
        position: absolute;
        left: 6.1rem;
        top: 49.5rem;
        background-color: #d9d9d9;
        width: 40.9rem;
        height: 0.1rem;
      }
      .rectangle-13-jPr {
        top: 0;
        background-color: rgba(255, 198, 0, 0.5);
        width: 136.8rem;
        height: 49.6rem;
        position: absolute;
        left: 0;
      }
      .item-91-8243568901-sW4 {
        height: 2.5rem;
        position: absolute;
        top: 33.2rem;
        font-weight: 400;
        color: #000000;
        font-family: Lexend Deca, 'Source Sans Pro';
        white-space: nowrap;
        width: 15.1rem;
        font-size: 2rem;
        line-height: 1.25;
        left: 18.4rem;
      }
      .phone-y3J {
        position: absolute;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.25;
        white-space: nowrap;
        height: 3rem;
        left: 22.4rem;
        top: 28.9rem;
        color: #000000;
        font-family: Lexend Deca, 'Source Sans Pro';
        width: 7.6rem;
      }
      .rectangle-8-fRv {
        top: 13.8rem;
        box-shadow: 0.9rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #429349;
        border-radius: 4rem;
        width: 15.2rem;
        height: 13.7rem;
        position: absolute;
        left: 18.6rem;
      }
      .rectangle-15-AtU {
        box-shadow: 0.9rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #429349;
        border-radius: 4rem;
        width: 15.2rem;
        height: 13.7rem;
        position: absolute;
        left: 103.5rem;
        top: 13.8rem;
      }
      .rectangle-16-g68 {
        box-shadow: 0.9rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #429349;
        border-radius: 4rem;
        width: 15.2rem;
        height: 13.7rem;
        position: absolute;
        left: 60.4rem;
        top: 13.8rem;
      }
      .call-Boa {
        background-size: cover;
        background-repeat: no-repeat;
        box-sizing: border-box;
        padding: 1.2rem;
        width: 9.6rem;
        position: absolute;
        background-position: center;
        background-image: url('REPLACE_IMAGE:198:5');
        height: 9.6rem;
        left: 21.4rem;
        top: 15.9rem;
        overflow: hidden;

        .vector-7BS {
          vertical-align: top;
          width: 7.2rem;
          height: 7.2rem;
          object-fit: contain;
        }
      }
      .email-address-dvU {
        line-height: 1.25;
        font-family: Lexend Deca, 'Source Sans Pro';
        white-space: nowrap;
        height: 3rem;
        position: absolute;
        font-weight: 700;
        font-size: 2.4rem;
        color: #000000;
        width: 17.3rem;
        left: 59.7rem;
        top: 28.9rem;
      }
      .location-Y1r {
        color: #000000;
        font-family: Lexend Deca, 'Source Sans Pro';
        height: 3rem;
        top: 28.9rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.25;
        width: 10.7rem;
        position: absolute;
        left: 105.7rem;
        white-space: nowrap;
      }
      .hsr-street-appathurai-nagar-madurai-625018-3jJ {
        text-align: center;
        line-height: 1.25;
        color: #000000;
        width: 18.2rem;
        height: 7.5rem;
        position: absolute;
        left: 102rem;
        top: 33.8rem;
        font-family: Lexend Deca, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
      }
      .location-pin-YAG {
        box-sizing: border-box;
        padding: 0.8rem 2rem;
        top: 16.2rem;
        background-size: cover;
        background-position: center;
        background-image: url('REPLACE_IMAGE:198:11');
        width: 9.6rem;
        height: 9.6rem;
        position: absolute;
        left: 106.5rem;
        overflow: hidden;
        background-repeat: no-repeat;

        .vector-To2 {
          width: 5.6rem;
          height: 8rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .katruhsjigmailcom-QTN {
        width: 20.4rem;
        left: 58.2rem;
        font-family: Lexend Deca, 'Source Sans Pro';
        white-space: nowrap;
        color: #000000;
        height: 2.5rem;
        position: absolute;
        top: 33.9rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
      }
      .email-K4Y {
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:198:8');
        box-sizing: border-box;
        height: 9.6rem;
        left: 63.2rem;
        overflow: hidden;
        background-position: center;
        padding: 1.6rem 0.8rem;
        width: 9.6rem;
        position: absolute;
        top: 16.2rem;

        .vector-3FS {
          vertical-align: top;
          width: 8rem;
          height: 6.4rem;
          object-fit: contain;
        }
      }
      .item-888-754591-7374-tmr {
        left: 17.7rem;
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        width: 17.2rem;
        position: absolute;
        top: 36.3rem;
        line-height: 1.25;
        font-family: Lexend Deca, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.5rem;
      }
    }
    .vector-1-Nwv {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.05rem 10.801rem 0rem;
      width: 28.15rem;
      height: 6.3991rem;
      object-fit: contain;
    }
    .auto-group-duds-tQU {
      flex-shrink: 0;
      margin: 0rem 4.1rem 10.8rem 4rem;
      width: calc(100% - 8.1rem);
      height: 75.3rem;
      display: flex;
      align-items: center;

      .auto-group-aty4-QNp {
        position: relative;
        flex-shrink: 0;
        margin-right: 3.7rem;
        width: 59.2rem;
        height: 100%;

        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-elementum-et-neque-suspendisse-imperdiet-8pc {
          position: absolute;
          left: 1.7rem;
          font-size: 2rem;
          font-family: Lexend Deca, 'Source Sans Pro';
          width: 53.6rem;
          top: 32.1rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          height: 5rem;
        }
        .getintouch1-1-oQx {
          top: 45.3rem;
          object-fit: cover;
          vertical-align: top;
          width: 56.5rem;
          height: 30rem;
          position: absolute;
          left: 1.3rem;
        }
        .rectangle-17-8TE {
          border-radius: 4.8rem;
          width: 59.2rem;
          height: 75.3rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.5rem #429349;
          box-sizing: border-box;
        }
        .get-in-touch-brush-stroke-image-1-re8 {
          object-fit: cover;
          vertical-align: top;
          width: 56.3rem;
          height: 24.4rem;
          position: absolute;
          left: 1.5rem;
          top: 6.1rem;
        }
      }
      .auto-group-eo9e-aKE {
        width: 65.8rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .auto-group-mtwn-KXi {
          top: 0;
          display: flex;
          align-items: center;
          width: 52.2rem;
          height: 2.5rem;
          position: absolute;
          left: 1.1rem;

          .name-GC4 {
            color: #000000;
            font-family: Lexend Deca, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 30.9rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.25;
          }
          .phone-number-ztk {
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.25;
            color: #000000;
            font-family: Lexend Deca, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .email-YQU {
          width: 5.8rem;
          height: 2.5rem;
          font-weight: 700;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
          position: absolute;
          left: 1.1rem;
          top: 12.4rem;
          font-size: 2rem;
          line-height: 1.25;
          white-space: nowrap;
        }
        .auto-group-qxay-4di {
          height: 16.5rem;
          position: absolute;
          left: 0;
          top: 14.9rem;
          box-sizing: border-box;
          padding: 0.9rem 0;
          width: 65.8rem;

          .rectangle-20-bNk {
            margin-bottom: 6.2rem;
            width: 32.4rem;
            height: 6rem;
            background-color: #429349;
            border-radius: 2rem;
          }
          .message-XnC {
            color: #000000;
            font-family: Lexend Deca, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 1.1rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.25;
          }
        }
        .auto-group-2evs-sLG {
          height: 6rem;
          position: absolute;
          left: 0;
          top: 3.1rem;
          display: flex;
          align-items: center;
          width: 65.8rem;

          .rectangle-18-ni8 {
            flex-shrink: 0;
            margin-right: 4.6rem;
            width: 32.4rem;
            height: 6rem;
            background-color: #429349;
            border-radius: 2rem;
          }
          .rectangle-19-vpL {
            flex-shrink: 0;
            width: 28.8rem;
            height: 6rem;
            background-color: #429349;
            border-radius: 2rem;
          }
        }
        .rectangle-21-UL4 {
          position: absolute;
          left: 0;
          top: 31.4rem;
          background-color: #429349;
          border-radius: 2rem;
          width: 65.8rem;
          height: 31.5rem;
        }
        .group-10-p92 {
          left: 19.6rem;
          line-height: 1.25;
          white-space: nowrap;
          width: 31.8rem;
          font-weight: 500;
          background-color: #000000;
          border-radius: 4rem;
          position: absolute;
          font-family: Lexend Deca, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          top: 67.8rem;
          font-size: 2.4rem;
          color: #ffc600;
          display: flex;
          height: 7.5rem;
        }
      }
    }
    .auto-group-zzfe-VFA {
      box-sizing: border-box;
      height: 44.2rem;
      align-items: center;
      background-color: #429349;
      border-radius: 0 0 4rem 4rem;
      flex-shrink: 0;
      padding: 9.7rem 2.2rem 5.1rem 4.1rem;
      width: 100%;
      display: flex;

      .auto-group-td3i-ome {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 8.8rem;
        height: 100%;

        .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-A6Q {
          font-size: 1.9rem;
          font-weight: 600;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 4.6rem;
          max-width: 35.9rem;

          .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-A6Q-sub-0 {
            line-height: 1.25;
            color: #000000;
            font-family: Lexend Deca, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 700;
          }
          .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-A6Q-sub-1 {
          }
          .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-A6Q-sub-2 {
            line-height: 1.25;
            color: #ffffff;
            font-family: Lexend Deca, 'Source Sans Pro';
            font-size: 1.9rem;
            font-weight: 500;
          }
          .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-A6Q-sub-3 {
          }
        }
        .email-kaameshkkgmailcom-3T2 {
          font-size: 1.9rem;
          font-weight: 600;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 2rem 0.7rem;
        }
        .auto-group-zjme-kcL {
          margin-left: 0.1rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .vector-tCk {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.8rem 0.1rem 0rem;
            width: 3.8rem;
            height: 3.6rem;
          }
          .twitterx-Cz8 {
            margin-right: 0.2rem;
            width: 5.5rem;
            height: 4.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .instagram-KYx {
            width: 4.5rem;
            height: 4.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .explore-home-courses-about-blog-contact-TfA {
        font-weight: 600;
        line-height: 1.25;
        color: #ffffff;
        font-family: Lexend Deca, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 12rem 1.6rem 0rem;
        max-width: 12.4rem;
        font-size: 1.9rem;

        .explore-home-courses-about-blog-contact-TfA-sub-0 {
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 3.2rem;
        }
        .explore-home-courses-about-blog-contact-TfA-sub-1 {
        }
        .explore-home-courses-about-blog-contact-TfA-sub-2 {
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 1.9rem;
        }
      }
      .category-development-ui-ux-designer-photography-teaching-freelancing-ttt {
        font-family: Lexend Deca, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 7.1rem 1.6rem 0rem;
        max-width: 15.1rem;
        font-size: 1.9rem;
        font-weight: 600;
        line-height: 1.25;
        color: #ffffff;

        .category-development-ui-ux-designer-photography-teaching-freelancing-ttt-sub-0 {
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
        }
        .category-development-ui-ux-designer-photography-teaching-freelancing-ttt-sub-1 {
        }
        .category-development-ui-ux-designer-photography-teaching-freelancing-ttt-sub-2 {
          font-size: 1.9rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
      }
      .auto-group-z14g-Kcp {
        flex-shrink: 0;
        margin-bottom: 6.5rem;
        width: 39.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-FmN {
          font-weight: 600;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 4rem 1.4rem;
          max-width: 37.8rem;
          font-size: 1.9rem;

          .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-FmN-sub-0 {
            color: #000000;
            font-family: Lexend Deca, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 600;
            line-height: 1.25;
          }
          .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-FmN-sub-1 {
            font-weight: 700;
            line-height: 1.25;
            color: #000000;
            font-family: Lexend Deca, 'Source Sans Pro';
            font-size: 3.2rem;
          }
          .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-FmN-sub-2 {
          }
          .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-FmN-sub-3 {
            font-size: 1.9rem;
            font-weight: 500;
            line-height: 1.25;
            color: #ffffff;
            font-family: Lexend Deca, 'Source Sans Pro';
          }
        }
        .auto-group-88eg-CTe {
          align-items: center;
          background-color: #070707;
          margin-right: 1.4rem;
          box-sizing: border-box;
          width: calc(100% - 1.4rem);
          flex-shrink: 0;
          padding: 1.9rem 2.3rem 1.4rem 3.6rem;
          display: flex;
          border-radius: 3rem;

          .email-us-usr {
            flex-shrink: 0;
            margin-right: 19.2rem;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.25;
            color: #ffffff;
            font-family: Lexend Deca, 'Source Sans Pro';
            white-space: nowrap;
          }
          .flutter-eqS {
            width: 3.9rem;
            height: 3.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .frame-4-umN {
    width: 134.6rem;
    height: 7.5rem;
    position: absolute;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 1.8rem 40.7rem 3.2rem 38.6rem;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url('REPLACE_IMAGE:196:518');
    left: 1.2rem;
    top: 0.5rem;

    .home-CEg {
      cursor: pointer;
      color: #000000;
      font-family: Lexend Deca, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 6.6rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.25;
      white-space: nowrap;
    }
    .about-us-vRa {
      margin-right: 7.4rem;
      cursor: pointer;
      font-size: 2rem;
      line-height: 1.25;
      flex-shrink: 0;
      font-weight: 600;
      color: #000000;
      font-family: Lexend Deca, 'Source Sans Pro';
      white-space: nowrap;
    }
    .product-41z {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 7.3rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend Deca, 'Source Sans Pro';
    }
    .contact-us-zAY {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.25;
      color: #ffc600;
      font-family: Lexend Deca, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
