
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 137.4rem;
}.desktop-3-fCx {
  width: 100%;
  height: 75rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0.6rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

  .frame-6-b6c {
    background-color: #ffffff;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    border: solid 0.3rem #000000;
    border-radius: 4rem;
    width: 367.4rem;
    height: 343.8rem;

    .vector-RLY {
      top: 73.0903rem;
      object-fit: contain;
      vertical-align: top;
      width: 3.9rem;
      height: 0.7864rem;
      position: absolute;
      left: 0;
    }
    .auto-group-yogp-ZBr {
      width: 124.7rem;
      height: 55.2rem;
      position: absolute;
      left: 6.4rem;
      top: 12.3rem;
      display: flex;
      align-items: flex-end;

      .auto-group-bs4q-4PW {
        margin-right: 5.3rem;
        width: 67.7rem;
        flex-shrink: 0;

        .the-leader-in-online-learning-engaging-accessible-online-courses-for-all-AhS {
          margin-bottom: 4.2rem;
          max-width: 54.1rem;
          font-size: 2.4rem;
          font-weight: 900;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';

          .the-leader-in-online-learning-engaging-accessible-online-courses-for-all-AhS-sub-0 {
            font-weight: 400;
            line-height: 1.25;
            color: #000000;
            font-family: Lexend Deca, 'Source Sans Pro';
            font-size: 2.4rem;
          }
          .the-leader-in-online-learning-engaging-accessible-online-courses-for-all-AhS-sub-1 {
            font-family: Lexend Deca, 'Source Sans Pro';
            font-size: 4.8rem;
            font-weight: 900;
            line-height: 1.25;
            color: #000000;
          }
        }
        .auto-group-bjcq-15n {
          width: 100%;
          height: 8.2rem;
          position: relative;
          margin-bottom: 4.6rem;

          .search-school-online-educational-centers-etc-YLc {
            position: absolute;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.25;
            color: rgba(0, 0, 0, 0.5);
            font-family: Lexend Deca, 'Source Sans Pro';
            height: 2.5rem;
            left: 8.8rem;
            top: 3.1rem;
            white-space: nowrap;
            width: 45.3rem;
          }
          .rectangle-6-pZ2 {
            top: 0;
            border: solid 0.5rem #429349;
            box-sizing: border-box;
            border-radius: 3rem;
            width: 67.7rem;
            height: 8.1rem;
            position: absolute;
            left: 0;
          }
          .go-back-Jyz {
            width: 5.9rem;
            height: 7.5rem;
            position: absolute;
            left: 60.4rem;
            top: 0.7rem;
            object-fit: contain;
            vertical-align: top;
          }
          .search-dmN {
            width: 4.2rem;
            height: 4.1rem;
            position: absolute;
            left: 2.8rem;
            top: 2.4rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-xg6y-mMn {
          margin-right: 23.8rem;
          width: calc(100% - 23.8rem);
          height: 14rem;
          display: flex;
          align-items: center;

          .auto-group-jzoe-hFS {
            width: 32.2rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .army-star-SD2 {
              width: 3.9rem;
              height: 2.7rem;
              position: absolute;
              left: 28.3rem;
              top: 10.1rem;
              object-fit: contain;
              vertical-align: top;
            }
            .trusted-by-over-15k-users-worldwide-since-2022-290-45-N6g {
              line-height: 1.25;
              font-family: Lexend Deca, 'Source Sans Pro';
              height: 14rem;
              position: absolute;
              top: 0;
              font-weight: 400;
              color: #000000;
              width: 30.2rem;
              left: 0;
              font-size: 2rem;

              .trusted-by-over-15k-users-worldwide-since-2022-290-45-N6g-sub-0 {
                font-weight: 400;
                line-height: 1.25;
                color: #000000;
                font-family: Lexend Deca, 'Source Sans Pro';
                font-size: 2.4rem;
              }
              .trusted-by-over-15k-users-worldwide-since-2022-290-45-N6g-sub-1 {
                color: #ffc600;
                font-family: Lexend Deca, 'Source Sans Pro';
                font-size: 6.4rem;
                font-weight: 700;
                line-height: 1.25;
              }
            }
          }
          .auto-group-j8us-orC {
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 10.1rem 0rem 1.2rem 0rem;
            height: 100%;

            .army-star-LbE {
              flex-shrink: 0;
              width: 3.9rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
            }
            .army-star-gf6 {
              vertical-align: top;
              flex-shrink: 0;
              width: 3.9rem;
              height: 2.7rem;
              object-fit: contain;
            }
            .army-star-S8U {
              width: 3.9rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
      .auto-group-deb6-mwS {
        margin-bottom: 1.2rem;
        width: 51.7rem;
        height: 54rem;
        position: relative;
        flex-shrink: 0;

        .mask-group-ibn {
          vertical-align: top;
          width: 51.7rem;
          height: 52.4rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
        }
        .ellipse-2-TZN {
          left: 5.9rem;
          top: 49.4rem;
          background-color: #305a37;
          border-radius: 2.3rem;
          width: 4.6rem;
          height: 4.6rem;
          position: absolute;
        }
        .group-2-C1A {
          width: 11.9rem;
          height: 4.6rem;
          position: absolute;
          left: 36.2rem;
          top: 46.4rem;

          .rectangle-5-vC4 {
            position: absolute;
            left: 0;
            border-radius: 1rem;
            box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            width: 11.9rem;
            height: 3.9rem;
            top: 0;
            border: solid 0.2rem #305a37;
            box-sizing: border-box;
          }
          .k-video-course-C9a {
            font-family: Lexend Deca, 'Source Sans Pro';
            width: 3.4rem;
            top: 0.6rem;
            font-size: 1.2rem;
            color: #000000;
            line-height: 1.25;
            height: 4rem;
            position: absolute;
            left: 4.5rem;
            font-weight: 900;

            .k-video-course-C9a-sub-0 {
            }
            .k-video-course-C9a-sub-1 {
              font-weight: 200;
              line-height: 1.25;
              color: #000000;
              font-family: Lexend Deca, 'Source Sans Pro';
              font-size: 1rem;
            }
          }
          .computer-nda {
            top: 0.9rem;
            object-fit: contain;
            vertical-align: top;
            width: 2rem;
            height: 2.3rem;
            position: absolute;
            left: 1.2rem;
          }
        }
        .group-3-i1S {
          display: flex;
          align-items: center;
          border: solid 0.2rem #305a37;
          box-sizing: border-box;
          height: 3.9rem;
          left: 2.9rem;
          top: 1.2rem;
          box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 1rem;
          padding: 0.6rem 1rem 0.6rem 0.3rem;
          width: 11.9rem;
          position: absolute;

          .army-star-ChJ {
            width: 3.9rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.1rem;
          }
          .rating-9Me {
            font-family: Lexend Deca, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.2rem;
            font-size: 1.2rem;
            font-weight: 900;
            line-height: 1.25;
            color: #000000;
          }
        }
        .vector-1-Rpx {
          top: 42.8rem;
          object-fit: contain;
          vertical-align: top;
          width: 28.15rem;
          height: 6.3991rem;
          position: absolute;
          left: 8rem;
        }
      }
    }
    .auto-group-xeoe-Lwv {
      width: 212.1rem;
      height: 6rem;
      position: absolute;
      left: 6.4rem;
      top: 75rem;

      .rectangle-7-sgx {
        top: 0;
        background-color: #d9d9d9;
        width: 40.9rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
      }
      .favourite-course-top-category-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-2Jx {
        height: 6rem;
        font-weight: 700;
        font-family: Lexend Deca, 'Source Sans Pro';
        width: 211.6rem;
        position: absolute;
        font-size: 1.6rem;
        display: flex;
        color: #000000;
        left: 0.5rem;
        top: 0;
        line-height: 1.25;
        letter-spacing: 0.016rem;
        white-space: nowrap;
        align-items: baseline;

        .favourite-course-top-category-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-2Jx-sub-0 {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.25;
          letter-spacing: 0.024rem;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
        .favourite-course-top-category-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-2Jx-sub-1 {
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.25;
          letter-spacing: 0.048rem;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
        .favourite-course-top-category-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-2Jx-sub-2 {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.25;
          letter-spacing: 0.02rem;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
      }
    }
    .auto-group-8ge8-FzL {
      height: 29rem;
      position: absolute;
      left: 4.3rem;
      top: 94.2rem;
      box-shadow: 0.9rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #429349;
      border-radius: 4rem;
      width: 128.8rem;

      .mask-group-PKr {
        object-fit: contain;
        vertical-align: top;
        width: 17.8rem;
        height: 17.4rem;
        position: absolute;
        left: 100.7rem;
        top: 3.4rem;
      }
      .mask-group-isv {
        width: 17.8rem;
        height: 17.4rem;
        position: absolute;
        left: 69rem;
        top: 3.4rem;
        object-fit: contain;
        vertical-align: top;
      }
      .mask-group-G8k {
        vertical-align: top;
        width: 17.8rem;
        height: 17.4rem;
        position: absolute;
        left: 8.3rem;
        top: 3.4rem;
        object-fit: contain;
      }
      .mask-group-CHJ {
        top: 3.4rem;
        object-fit: contain;
        vertical-align: top;
        width: 17.8rem;
        height: 17.4rem;
        position: absolute;
        left: 37.4rem;
      }
      .node-js-LPW {
        font-family: Lexend Deca, 'Source Sans Pro';
        width: 10.2rem;
        height: 3rem;
        top: 23.2rem;
        font-size: 2.4rem;
        letter-spacing: 0.024rem;
        white-space: nowrap;
        position: absolute;
        left: 105rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
      }
      .bootstraps-q5N {
        top: 23.2rem;
        font-size: 2.4rem;
        letter-spacing: 0.024rem;
        color: #ffffff;
        font-family: Lexend Deca, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        height: 3rem;
        left: 10.5rem;
        font-weight: 400;
        line-height: 1.25;
        width: 13rem;
      }
      .java-wu6 {
        font-weight: 400;
        letter-spacing: 0.024rem;
        font-family: Lexend Deca, 'Source Sans Pro';
        white-space: nowrap;
        height: 3rem;
        font-size: 2.4rem;
        left: 76.1rem;
        top: 23.2rem;
        line-height: 1.25;
        color: #ffffff;
        width: 6.2rem;
        position: absolute;
      }
      .python-33-f4Q {
        letter-spacing: 0.024rem;
        white-space: nowrap;
        left: 41.7rem;
        line-height: 1.25;
        position: absolute;
        top: 23.3rem;
        font-size: 2.4rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Lexend Deca, 'Source Sans Pro';
        width: 12.2rem;
        height: 3rem;
      }
    }
    .auto-group-ctqz-8Tn {
      width: 14.3rem;
      height: 2.2rem;
      position: absolute;
      left: 63.4rem;
      top: 128.8rem;
      display: flex;
      align-items: center;

      .rectangle-9-G4C {
        width: 9.3rem;
        height: 1.8rem;
        cursor: pointer;
        background-color: #ffc600;
        border-radius: 4rem;
        flex-shrink: 0;
        margin-right: 2.7rem;
      }
      .ellipse-7-Pec {
        vertical-align: top;
        flex-shrink: 0;
        width: 2.3rem;
        height: 2.2rem;
        object-fit: contain;
      }
    }
    .group-8-8cC {
      width: 131.3rem;
      height: 50.1rem;
      position: absolute;
      left: 4.5rem;
      top: 155.2rem;
      border-radius: 4rem;

      .frame-3-sJt {
        padding: 5.4rem 0rem 5.4rem 4rem;
        overflow: hidden;
        border-radius: 4rem;
        box-sizing: border-box;
        height: 100%;
        position: relative;
        display: flex;
        column-gap: 5.5rem;
        align-items: center;
        box-shadow: 0.9rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #429349;
        width: 100%;

        .auto-group-gnbe-NmS {
          width: 73.8rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .most-popular-courses-XeL {
            font-weight: 700;
            white-space: nowrap;
            width: 66.8rem;
            height: 8rem;
            left: 0;
            top: 7.65rem;
            font-size: 6.4rem;
            position: absolute;
            line-height: 1.25;
            color: #000000;
            font-family: Lexend Deca, 'Source Sans Pro';
          }
          .group-4-FKS {
            box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #000000;
            border-radius: 3rem;
            padding: 2rem 1.2rem 1.1rem 2.2rem;
            left: 31.2rem;
            top: 0;
            position: absolute;
            box-sizing: border-box;
            width: 42.6rem;
            height: 39.3rem;

            .mask-group-xUk {
              width: 37.5rem;
              height: 18.4rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              margin: 0rem 0rem 4.5rem 0.3rem;
            }
            .various-sessions-programming-courses-HG8 {
              font-size: 1.9rem;
              font-weight: 600;
              line-height: 1.25;
              color: #ffffff;
              font-family: Lexend Deca, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1.9rem;
            }
            .auto-group-q3n4-zAY {
              display: flex;
              align-items: center;
              margin-bottom: 1.65rem;

              .army-star-LEQ {
                vertical-align: top;
                flex-shrink: 0;
                width: 3.5rem;
                height: 2.6rem;
                object-fit: contain;
              }
              .army-star-Gtk {
                width: 3.4rem;
                height: 2.6rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .army-star-27E {
                height: 2.6rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 3.5rem;
              }
              .army-star-mKi {
                width: 3.5rem;
                height: 2.6rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .line-1-vCc {
              margin-bottom: 0.85rem;
              width: 38.1rem;
              height: 0rem;
              object-fit: contain;
              vertical-align: top;
            }
            .auto-group-dmta-rrx {
              width: 100%;
              display: flex;
              align-items: flex-end;

              .item-500-DSc {
                color: #ffffff;
                font-family: Lexend Deca, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 29.2rem 0.1rem 0rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.25;
              }
              .flutter-XiC {
                width: 3.9rem;
                height: 3.9rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
        .group-5-1dN {
          background-color: #000000;
          border-radius: 3rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.7rem 1.2rem 1.1rem 2.2rem;
          width: 42.6rem;
          height: 100%;
          box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);

          .mask-group-vkL {
            object-fit: contain;
            vertical-align: top;
            margin: 0rem 0rem 3.3rem 0.6rem;
            width: 37.5rem;
            height: 18.9rem;
            position: relative;
          }
          .various-sessions-programming-courses-TEU {
            font-size: 1.9rem;
            font-weight: 600;
            line-height: 1.25;
            color: #ffffff;
            font-family: Lexend Deca, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.9rem;
          }
          .auto-group-48ay-nGk {
            margin-bottom: 1.65rem;
            display: flex;
            align-items: center;

            .army-star-vtk {
              width: 3.5rem;
              height: 2.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .army-star-gd2 {
              width: 3.4rem;
              height: 2.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .army-star-Rac {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.5rem;
              height: 2.6rem;
            }
            .army-star-BJt {
              height: 2.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.5rem;
            }
          }
          .line-1-w3A {
            vertical-align: top;
            margin-bottom: 0.85rem;
            width: 38.1rem;
            height: 0rem;
            object-fit: contain;
          }
          .auto-group-srfe-HMv {
            width: 100%;
            display: flex;
            align-items: flex-end;

            .item-500-F3r {
              margin: 0rem 29.2rem 0.1rem 0rem;
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.25;
              color: #ffffff;
              font-family: Lexend Deca, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .flutter-mXz {
              height: 3.9rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.9rem;
            }
          }
        }
        .group-6-Fxx {
          border-radius: 3rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2rem 1.2rem 1.1rem 2.2rem;
          width: 42.6rem;
          height: 100%;
          box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #000000;

          .mask-group-nT6 {
            margin-bottom: 3.2rem;
            width: 37.5rem;
            height: 19.7rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .various-sessions-programming-courses-ynU {
            color: #ffffff;
            font-family: Lexend Deca, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.9rem;
            font-size: 1.9rem;
            font-weight: 600;
            line-height: 1.25;
          }
          .auto-group-6dqp-77z {
            padding-left: 3.5rem;
            background-size: 100% 100%;
            background-position: center;
            margin-bottom: 1.65rem;
            display: flex;
            align-items: center;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:b8b84ed9521c91765b07c217fc29deeb35c4f588');
            box-sizing: border-box;

            .army-star-Sg4 {
              flex-shrink: 0;
              width: 3.4rem;
              height: 2.6rem;
              object-fit: contain;
              vertical-align: top;
            }
            .army-star-zSg {
              width: 3.5rem;
              height: 2.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .army-star-LWY {
              height: 2.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.5rem;
            }
          }
          .line-1-fHv {
            height: 0rem;
            object-fit: contain;
            vertical-align: top;
            margin-bottom: 0.85rem;
            width: 38.1rem;
          }
          .auto-group-yhfa-QmJ {
            align-items: flex-end;
            width: 100%;
            display: flex;

            .item-500-kqA {
              font-family: Lexend Deca, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 29.2rem 0.1rem 0rem;
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.25;
              color: #ffffff;
            }
            .flutter-HKJ {
              width: 3.9rem;
              height: 3.9rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .group-7-a3W {
          display: flex;
          padding-top: 24.9rem;
          align-items: center;
          flex-direction: column;
          box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
          background-size: cover;
          background-repeat: no-repeat;
          box-sizing: border-box;
          width: 42.6rem;
          height: 100%;
          background-color: #000000;
          background-position: center;
          flex-shrink: 0;
          border-radius: 3rem;
          background-image: url('REPLACE_IMAGE:193:245');

          .various-sessions-programming-courses-h88 {
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 1rem;
            font-size: 1.9rem;
            font-weight: 600;
            line-height: 1.25;
            color: #ffffff;
            font-family: Lexend Deca, 'Source Sans Pro';
          }
          .auto-group-mjyt-RK2 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.9rem 1.2rem 1.1rem 2.2rem;
            width: 100%;
            height: 12rem;

            .auto-group-tfkp-wHN {
              display: flex;
              margin-bottom: 1.65rem;
              box-sizing: border-box;
              padding-left: 3.5rem;
              align-items: center;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url('REPLACE_IMAGE:b8b84ed9521c91765b07c217fc29deeb35c4f588');
              flex-shrink: 0;

              .army-star-58g {
                width: 3.4rem;
                height: 2.6rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .army-star-ceQ {
                width: 3.5rem;
                height: 2.6rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .army-star-ZpY {
                width: 3.5rem;
                height: 2.6rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .line-1-6Jg {
              margin-bottom: 0.85rem;
              width: 38.1rem;
              height: 0rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-qbja-SdS {
              width: 100%;
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;

              .item-500-c28 {
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.25;
                color: #ffffff;
                font-family: Lexend Deca, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 29.2rem 0.1rem 0rem;
              }
              .flutter-LD2 {
                width: 3.9rem;
                height: 3.9rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
    .featured-courses-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-Y4C {
      height: 6rem;
      font-family: Inter, 'Source Sans Pro';
      font-weight: 400;
      line-height: 1.2102272511;
      color: #000000;
      width: 198.8rem;
      position: absolute;
      left: 6.9rem;
      top: 137.4rem;
      font-size: 1.2rem;
      white-space: nowrap;
      display: flex;
      align-items: baseline;

      .featured-courses-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-Y4C-sub-0 {
        line-height: 1.25;
        color: #000000;
        font-family: Lexend Deca, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 700;
      }
      .featured-courses-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-Y4C-sub-1 {
        text-decoration-line: underline;
        color: #000000;
        font-family: Lexend Deca, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.25;
      }
      .featured-courses-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-Y4C-sub-2 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend Deca, 'Source Sans Pro';
      }
      .featured-courses-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-Y4C-sub-3 {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend Deca, 'Source Sans Pro';
      }
    }
    .auto-group-rota-iep {
      width: 207rem;
      height: 85.2rem;
      position: absolute;
      left: 0.3rem;
      top: 214.2rem;

      .rectangle-13-3h6 {
        width: 136.8rem;
        height: 85.2rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(255, 198, 0, 0.5);
      }
      .student-feedback-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-BoJ {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2102272511;
        color: #000000;
        align-items: baseline;
        top: 4.6rem;
        height: 6rem;
        position: absolute;
        left: 6.6rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        width: 200.4rem;

        .student-feedback-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-BoJ-sub-0 {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 700;
        }
        .student-feedback-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-BoJ-sub-1 {
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.25;
          text-decoration-line: underline;
        }
        .student-feedback-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-BoJ-sub-2 {
          line-height: 1.25;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 400;
        }
        .student-feedback-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-BoJ-sub-3 {
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 1.2rem;
        }
      }
      .group-9-3Me {
        position: absolute;
        left: 3.8rem;
        top: 20.7rem;
        border-radius: 4rem;
        width: 131.3rem;
        height: 50.1rem;

        .frame-3-Ax4 {
          box-shadow: 0.9rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 4rem;
          width: 100%;
          height: 100%;
          position: relative;
          overflow: hidden;

          .group-4-XGp {
            box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
            width: 183.7rem;
            height: 39.3rem;
            position: absolute;
            left: 4rem;
            top: 5.4rem;

            .rectangle-11-Eh2 {
              position: absolute;
              left: 0;
              top: 0;
              box-shadow: 0 1rem 0.4rem rgba(0, 0, 0, 0.25);
              background-color: #000000;
              border-radius: 3rem;
              width: 42.6rem;
              height: 39.3rem;
            }
            .flutter-wrL {
              top: 34.3rem;
              object-fit: contain;
              vertical-align: top;
              width: 3.9rem;
              height: 3.9rem;
              position: absolute;
              left: 37.5rem;
            }
            .in-this-review-feedback-is-conceptualized-as-information-provided-by-an-agent-eg-teacher-peer-book-parent-self-experience-regarding-aspects-of-ones-performance-or-understanding-So6 {
              left: 2.2rem;
              top: 14rem;
              font-size: 1.9rem;
              line-height: 1.25;
              color: #ffffff;
              white-space: nowrap;
              position: absolute;
              height: 2.4rem;
              font-weight: 600;
              font-family: Lexend Deca, 'Source Sans Pro';
              width: 181.5rem;
            }
            .army-star-TiC {
              object-fit: contain;
              vertical-align: top;
              width: 3.5rem;
              height: 2.6rem;
              position: absolute;
              left: 2.2rem;
              top: 34.4rem;
            }
            .army-star-BPJ {
              width: 3.4rem;
              height: 2.6rem;
              position: absolute;
              left: 5.7rem;
              top: 34.4rem;
              object-fit: contain;
              vertical-align: top;
            }
            .army-star-WgU {
              vertical-align: top;
              width: 3.5rem;
              height: 2.6rem;
              position: absolute;
              left: 9.1rem;
              top: 34.4rem;
              object-fit: contain;
            }
            .army-star-Sq2 {
              top: 34.4rem;
              object-fit: contain;
              vertical-align: top;
              width: 3.5rem;
              height: 2.6rem;
              position: absolute;
              left: 12.6rem;
            }
            .line-1-nP6 {
              left: 2.2rem;
              top: 31.3rem;
              object-fit: contain;
              vertical-align: top;
              width: 38.1rem;
              height: 0rem;
              position: absolute;
            }
            .mask-group-vVJ {
              width: 8.9rem;
              height: 8.6rem;
              position: absolute;
              left: 2.9rem;
              top: 3.3rem;
              object-fit: contain;
              vertical-align: top;
            }
            .karthick-kk-ui-ux-designer-FXa {
              font-size: 1.9rem;
              color: #ffc600;
              white-space: nowrap;
              position: absolute;
              left: 14.8rem;
              top: 5.2rem;
              font-weight: 600;
              line-height: 1.25;
              font-family: Lexend Deca, 'Source Sans Pro';
              width: 26.3rem;
              height: 2.4rem;
            }
          }
          .group-5-85a {
            height: 39.3rem;
            position: absolute;
            left: 52.1rem;
            top: 5.4rem;
            box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
            width: 188.8rem;

            .rectangle-11-Sc4 {
              width: 42.6rem;
              height: 39.3rem;
              position: absolute;
              left: 0;
              top: 0;
              box-shadow: 0 1rem 0.4rem rgba(0, 0, 0, 0.25);
              background-color: #000000;
              border-radius: 3rem;
            }
            .flutter-kck {
              width: 3.9rem;
              height: 3.9rem;
              position: absolute;
              left: 37.5rem;
              top: 34.3rem;
              object-fit: contain;
              vertical-align: top;
            }
            .where-am-i-going-what-are-the-goals-how-am-i-going-what-progress-is-being-made-toward-the-goal-and-where-to-next-what-activities-need-to-be-undertaken-to-make-better-progress-Hcg {
              position: absolute;
              top: 14rem;
              line-height: 1.25;
              font-family: Lexend Deca, 'Source Sans Pro';
              font-weight: 600;
              color: #ffffff;
              white-space: nowrap;
              width: 186.6rem;
              height: 2.4rem;
              left: 2.2rem;
              font-size: 1.9rem;
            }
            .army-star-KJU {
              object-fit: contain;
              vertical-align: top;
              width: 3.5rem;
              height: 2.6rem;
              position: absolute;
              left: 2.2rem;
              top: 34.4rem;
            }
            .army-star-Fhv {
              left: 5.7rem;
              top: 34.4rem;
              object-fit: contain;
              vertical-align: top;
              width: 3.4rem;
              height: 2.6rem;
              position: absolute;
            }
            .army-star-nSx {
              object-fit: contain;
              vertical-align: top;
              width: 3.5rem;
              height: 2.6rem;
              position: absolute;
              left: 9.1rem;
              top: 34.4rem;
            }
            .army-star-vJG {
              position: absolute;
              left: 12.6rem;
              top: 34.4rem;
              object-fit: contain;
              vertical-align: top;
              width: 3.5rem;
              height: 2.6rem;
            }
            .line-1-rxc {
              width: 38.1rem;
              height: 0rem;
              position: absolute;
              left: 2.2rem;
              top: 31.3rem;
              object-fit: contain;
              vertical-align: top;
            }
            .mask-group-D2U {
              left: 2.9rem;
              top: 3.3rem;
              object-fit: contain;
              vertical-align: top;
              width: 8.9rem;
              height: 8.6rem;
              position: absolute;
            }
            .karthick-kk-ui-ux-designer-kHJ {
              white-space: nowrap;
              position: absolute;
              left: 14.8rem;
              font-weight: 600;
              font-size: 1.9rem;
              line-height: 1.25;
              color: #ffc600;
              font-family: Lexend Deca, 'Source Sans Pro';
              width: 26.3rem;
              height: 2.4rem;
              top: 5.2rem;
            }
          }
          .group-6-q3r {
            position: absolute;
            top: 5.4rem;
            box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #000000;
            height: 39.3rem;
            padding: 3.3rem 0rem 1.1rem 2.2rem;
            width: 183.7rem;
            left: 100.2rem;
            border-radius: 3rem;
            box-sizing: border-box;

            .auto-group-8mrv-XxG {
              margin: 0rem 142.6rem 2.1rem 0.7rem;
              width: calc(100% - 143.3rem);
              display: flex;
              align-items: center;

              .mask-group-TL8 {
                flex-shrink: 0;
                margin-right: 3rem;
                width: 8.9rem;
                height: 8.6rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
              .karthick-kk-ui-ux-designer-CHi {
                line-height: 1.25;
                color: #ffc600;
                font-family: Lexend Deca, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.4rem;
                font-size: 1.9rem;
                font-weight: 600;
              }
            }
            .in-this-review-feedback-is-conceptualized-as-information-provided-by-an-agent-eg-teacher-peer-book-parent-self-experience-regarding-aspects-of-ones-performance-or-understanding-j2k {
              font-family: Lexend Deca, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 14.9rem;
              font-size: 1.9rem;
              font-weight: 600;
              line-height: 1.25;
              color: #ffffff;
            }
            .line-1-ANx {
              height: 0rem;
              object-fit: contain;
              vertical-align: top;
              margin-bottom: 3rem;
              width: 38.1rem;
            }
            .auto-group-gjax-7JC {
              align-items: center;
              margin-right: 142.3rem;
              width: calc(100% - 142.3rem);
              height: 3.9rem;
              display: flex;

              .auto-group-gcbe-qzt {
                box-sizing: border-box;
                padding: 0.1rem 21.4rem 0.1rem 0rem;
                width: 35.3rem;
                height: 100%;
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;

                .army-star-MTS {
                  width: 3.5rem;
                  height: 2.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .army-star-J7n {
                  height: 2.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 3.4rem;
                }
                .army-star-FHv {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 3.5rem;
                  height: 2.6rem;
                }
                .army-star-Puv {
                  width: 3.5rem;
                  height: 2.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .flutter-kEg {
                width: 3.9rem;
                height: 3.9rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .group-7-E9r {
            box-sizing: border-box;
            padding: 3.3rem 0rem 1.1rem 2.2rem;
            height: 39.3rem;
            left: 148.3rem;
            top: 5.4rem;
            box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #000000;
            width: 183.7rem;
            position: absolute;
            border-radius: 3rem;

            .auto-group-ahsj-LCt {
              box-sizing: border-box;
              font-size: 1.9rem;
              color: #ffc600;
              background-position: center;
              line-height: 1.25;
              font-family: Lexend Deca, 'Source Sans Pro';
              background-image: url('REPLACE_IMAGE:193:310');
              margin: 0rem 0rem 2.1rem 0.7rem;
              height: 8.6rem;
              background-size: cover;
              padding: 1.9rem 0rem 1.9rem 11.9rem;
              font-weight: 600;
              white-space: nowrap;
              background-repeat: no-repeat;
            }
            .in-this-review-feedback-is-conceptualized-as-information-provided-by-an-agent-eg-teacher-peer-book-parent-self-experience-regarding-aspects-of-ones-performance-or-understanding-BjJ {
              line-height: 1.25;
              color: #ffffff;
              font-family: Lexend Deca, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 14.9rem;
              font-size: 1.9rem;
              font-weight: 600;
            }
            .line-1-2zp {
              height: 0rem;
              object-fit: contain;
              vertical-align: top;
              margin-bottom: 3rem;
              width: 38.1rem;
            }
            .auto-group-mrhw-B72 {
              height: 3.9rem;
              display: flex;
              align-items: center;
              margin-right: 142.3rem;
              width: calc(100% - 142.3rem);

              .auto-group-mhqw-i6x {
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0.1rem 21.4rem 0.1rem 0rem;
                width: 35.3rem;
                height: 100%;
                display: flex;
                align-items: flex-start;

                .army-star-Eb6 {
                  width: 3.5rem;
                  height: 2.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .army-star-z4U {
                  width: 3.4rem;
                  height: 2.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .army-star-8gU {
                  width: 3.5rem;
                  height: 2.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .army-star-5bi {
                  height: 2.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 3.5rem;
                }
              }
              .flutter-pZJ {
                width: 3.9rem;
                height: 3.9rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
    .auto-group-jt7i-eYL {
      width: 188.8rem;
      height: 44.2rem;
      position: absolute;
      left: 0.3rem;
      top: 299.6rem;

      .rectangle-15-ZQQ {
        width: 136.8rem;
        height: 44.2rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #429349;
        border-radius: 0 0 4rem 4rem;
      }
      .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-tSg {
        align-items: baseline;
        width: 109.1rem;
        height: 4rem;
        top: 9.7rem;
        font-weight: 600;
        white-space: nowrap;
        display: flex;
        position: absolute;
        left: 4.1rem;
        font-size: 1.9rem;
        line-height: 1.25;
        color: #ffffff;
        font-family: Lexend Deca, 'Source Sans Pro';

        .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-tSg-sub-0 {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
        .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-tSg-sub-1 {
        }
        .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-tSg-sub-2 {
          font-size: 1.9rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
        .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-tSg-sub-3 {
        }
      }
      .explore-home-courses-about-blog-contact-zGk {
        font-family: Lexend Deca, 'Source Sans Pro';
        display: flex;
        align-items: baseline;
        width: 43.1rem;
        position: absolute;
        left: 48.8rem;
        top: 9.7rem;
        font-size: 1.9rem;
        height: 4rem;
        font-weight: 600;
        line-height: 1.25;
        color: #ffffff;
        white-space: nowrap;

        .explore-home-courses-about-blog-contact-zGk-sub-0 {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
        .explore-home-courses-about-blog-contact-zGk-sub-1 {
        }
        .explore-home-courses-about-blog-contact-zGk-sub-2 {
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 1.9rem;
          font-weight: 500;
        }
      }
      .category-development-ui-ux-designer-photography-teaching-freelancing-a8U {
        font-family: Lexend Deca, 'Source Sans Pro';
        width: 75.9rem;
        height: 4rem;
        position: absolute;
        top: 9.7rem;
        font-size: 1.9rem;
        font-weight: 600;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        align-items: baseline;
        left: 73.2rem;
        line-height: 1.25;

        .category-development-ui-ux-designer-photography-teaching-freelancing-a8U-sub-0 {
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
        }
        .category-development-ui-ux-designer-photography-teaching-freelancing-a8U-sub-1 {
        }
        .category-development-ui-ux-designer-photography-teaching-freelancing-a8U-sub-2 {
          font-size: 1.9rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
      }
      .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-BGg {
        font-family: Lexend Deca, 'Source Sans Pro';
        align-items: baseline;
        width: 92rem;
        left: 96.8rem;
        font-size: 1.9rem;
        font-weight: 600;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        height: 4.5rem;
        position: absolute;
        top: 9.7rem;
        line-height: 1.25;

        .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-BGg-sub-0 {
          font-size: 3.6rem;
          font-weight: 600;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
        .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-BGg-sub-1 {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
        .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-BGg-sub-2 {
        }
        .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-BGg-sub-3 {
          font-size: 1.9rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
      }
      .email-kaameshkkgmailcom-7TA {
        font-family: Lexend Deca, 'Source Sans Pro';
        width: 29.7rem;
        position: absolute;
        top: 30.2rem;
        font-weight: 600;
        color: #ffffff;
        white-space: nowrap;
        height: 2.4rem;
        left: 4.8rem;
        font-size: 1.9rem;
        line-height: 1.25;
      }
      .rectangle-14-pcU {
        position: absolute;
        left: 95.4rem;
        top: 25.4rem;
        background-color: #070707;
        border-radius: 3rem;
        width: 37.8rem;
        height: 7.2rem;
      }
      .flutter-YHa {
        position: absolute;
        left: 127rem;
        top: 27.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.9rem;
        height: 3.9rem;
      }
      .email-us-sqe {
        width: 8.8rem;
        font-weight: 600;
        font-family: Lexend Deca, 'Source Sans Pro';
        font-size: 2rem;
        line-height: 1.25;
        color: #ffffff;
        white-space: nowrap;
        height: 2.5rem;
        position: absolute;
        left: 99rem;
        top: 28rem;
      }
      .twitterx-nhi {
        width: 5.5rem;
        height: 4.5rem;
        position: absolute;
        left: 8.8rem;
        top: 34.6rem;
        object-fit: contain;
        vertical-align: top;
      }
      .instagram-vov {
        position: absolute;
        left: 14.5rem;
        top: 34.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 4.5rem;
        height: 4.5rem;
      }
      .vector-TYx {
        vertical-align: top;
        width: 3.8rem;
        height: 3.6rem;
        position: absolute;
        left: 4.2rem;
        top: 35rem;
        object-fit: contain;
      }
    }
  }
  .frame-4-wU8 {
    box-sizing: border-box;
    padding: 1.8rem 40.7rem 3.2rem 38.6rem;
    width: 134.6rem;
    height: 7.5rem;
    position: absolute;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:193:336');
    left: 1.2rem;
    top: 0.5rem;
    display: flex;
    background-size: cover;
    background-position: center;

    .home-ReC {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.25;
      color: #ffc600;
      font-family: Lexend Deca, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 6.6rem;
    }
    .about-us-kRa {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 7.4rem;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend Deca, 'Source Sans Pro';
    }
    .product-foS {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 7.3rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend Deca, 'Source Sans Pro';
    }
    .contact-us-D4G {
      font-family: Lexend Deca, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.25;
      color: #000000;
    }
  }
}
