
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 137.4rem;
}.desktop-2-CRS {
  width: 100%;
  height: 343.8rem;
  position: relative;
  box-shadow: 0.6rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

  .frame-5-dWk {
    position: absolute;
    top: 0;
    align-items: center;
    display: flex;
    border: solid 0.3rem #000000;
    border-radius: 4rem;
    box-sizing: border-box;
    width: 137.4rem;
    left: 0;
    flex-direction: column;
    background-color: #ffffff;
    padding: 12.3rem 0.3rem 0rem 0.3rem;
    height: 343.8rem;

    .auto-group-pnnp-5GG {
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 6rem 7.5rem 6.1rem;
      width: calc(100% - 12.1rem);
      display: flex;

      .auto-group-1fqv-PGx {
        width: 71.3rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 1.7rem;

        .auto-group-pxde-iq2 {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .the-leader-in-online-learning-engaging-accessible-online-courses-for-all-shv {
            margin-right: 7.6rem;
            max-width: 54.1rem;
            font-size: 2.4rem;
            font-weight: 900;
            line-height: 1.25;
            color: #000000;
            font-family: Lexend Deca, 'Source Sans Pro';
            flex-shrink: 0;

            .the-leader-in-online-learning-engaging-accessible-online-courses-for-all-shv-sub-0 {
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.25;
              color: #000000;
              font-family: Lexend Deca, 'Source Sans Pro';
            }
            .the-leader-in-online-learning-engaging-accessible-online-courses-for-all-shv-sub-1 {
              font-size: 4.8rem;
              font-weight: 900;
              line-height: 1.25;
              color: #000000;
              font-family: Lexend Deca, 'Source Sans Pro';
            }
          }
          .multiple-stars-Vek {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 4.4rem;
            width: 9.6rem;
            height: 9.6rem;
          }
        }
        .auto-group-76tn-1d6 {
          box-sizing: border-box;
          padding-top: 4.2rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-yehr-MBA {
            margin-bottom: 4.6rem;
            width: 67.7rem;
            height: 8.2rem;
            position: relative;
            flex-shrink: 0;

            .search-school-online-educational-centers-etc-gUL {
              font-family: Lexend Deca, 'Source Sans Pro';
              height: 2.5rem;
              left: 8.8rem;
              font-weight: 400;
              color: rgba(0, 0, 0, 0.5);
              line-height: 1.25;
              white-space: nowrap;
              width: 45.3rem;
              position: absolute;
              top: 3.1rem;
              font-size: 2rem;
            }
            .rectangle-6-xgk {
              height: 8.1rem;
              position: absolute;
              left: 0;
              top: 0;
              border: solid 0.5rem #429349;
              box-sizing: border-box;
              border-radius: 3rem;
              width: 67.7rem;
            }
            .go-back-tKW {
              position: absolute;
              left: 60.4rem;
              top: 0.7rem;
              object-fit: contain;
              vertical-align: top;
              width: 5.9rem;
              height: 7.5rem;
            }
            .search-RKS {
              position: absolute;
              left: 2.8rem;
              top: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              width: 4.2rem;
              height: 4.1rem;
            }
          }
          .auto-group-axys-Kvc {
            height: 14rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 27.4rem;
            width: calc(100% - 27.4rem);

            .auto-group-x6pk-ehz {
              width: 32.2rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .army-star-bdE {
                top: 10.1rem;
                object-fit: contain;
                vertical-align: top;
                width: 3.9rem;
                height: 2.7rem;
                position: absolute;
                left: 28.3rem;
              }
              .trusted-by-over-15k-users-worldwide-since-2022-290-45-Kp8 {
                line-height: 1.25;
                color: #000000;
                width: 30.2rem;
                height: 14rem;
                position: absolute;
                left: 0;
                top: 0;
                font-size: 2rem;
                font-weight: 400;
                font-family: Lexend Deca, 'Source Sans Pro';

                .trusted-by-over-15k-users-worldwide-since-2022-290-45-Kp8-sub-0 {
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.25;
                  color: #000000;
                  font-family: Lexend Deca, 'Source Sans Pro';
                }
                .trusted-by-over-15k-users-worldwide-since-2022-290-45-Kp8-sub-1 {
                  font-size: 6.4rem;
                  font-weight: 700;
                  line-height: 1.25;
                  color: #ffc600;
                  font-family: Lexend Deca, 'Source Sans Pro';
                }
              }
            }
            .auto-group-sdjt-LMr {
              padding: 10.1rem 0rem 1.2rem 0rem;
              height: 100%;
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;
              box-sizing: border-box;

              .army-star-GFW {
                width: 3.9rem;
                height: 2.7rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .army-star-1it {
                vertical-align: top;
                flex-shrink: 0;
                width: 3.9rem;
                height: 2.7rem;
                object-fit: contain;
              }
              .army-star-xe8 {
                width: 3.9rem;
                height: 2.7rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
      }
      .auto-group-upqn-VPA {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 1.2rem;
        width: 51.7rem;
        height: 54rem;

        .mask-group-dEU {
          height: 52.4rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 51.7rem;
        }
        .ellipse-2-MgG {
          left: 5.9rem;
          top: 49.4rem;
          background-color: #305a37;
          border-radius: 2.3rem;
          width: 4.6rem;
          height: 4.6rem;
          position: absolute;
        }
        .group-2-5cG {
          width: 11.9rem;
          height: 4.6rem;
          position: absolute;
          left: 36.2rem;
          top: 46.4rem;

          .rectangle-5-DCg {
            left: 0;
            top: 0;
            box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            border-radius: 1rem;
            width: 11.9rem;
            height: 3.9rem;
            position: absolute;
            border: solid 0.2rem #305a37;
            box-sizing: border-box;
          }
          .k-video-course-HiL {
            line-height: 1.25;
            color: #000000;
            width: 3.4rem;
            height: 4rem;
            left: 4.5rem;
            top: 0.6rem;
            font-weight: 900;
            position: absolute;
            font-size: 1.2rem;
            font-family: Lexend Deca, 'Source Sans Pro';

            .k-video-course-HiL-sub-0 {
            }
            .k-video-course-HiL-sub-1 {
              font-family: Lexend Deca, 'Source Sans Pro';
              font-size: 1rem;
              font-weight: 200;
              line-height: 1.25;
              color: #000000;
            }
          }
          .computer-fD6 {
            vertical-align: top;
            width: 2rem;
            height: 2.3rem;
            position: absolute;
            left: 1.2rem;
            top: 0.9rem;
            object-fit: contain;
          }
        }
        .group-3-nYc {
          width: 11.9rem;
          position: absolute;
          border: solid 0.2rem #305a37;
          box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 1rem;
          box-sizing: border-box;
          padding: 0.6rem 1rem 0.6rem 0.3rem;
          top: 1.2rem;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          height: 3.9rem;
          left: 2.9rem;

          .army-star-UwE {
            margin-right: 0.1rem;
            width: 3.9rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .rating-2C4 {
            font-family: Lexend Deca, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.2rem;
            font-size: 1.2rem;
            font-weight: 900;
            line-height: 1.25;
            color: #000000;
          }
        }
        .vector-1-7UQ {
          left: 8rem;
          top: 42.8rem;
          object-fit: contain;
          vertical-align: top;
          width: 28.15rem;
          height: 6.3991rem;
          position: absolute;
        }
      }
    }
    .auto-group-5bka-q9W {
      margin: 0rem 43.7rem 5.2rem 0rem;
      width: 80.9rem;
      height: 14rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-7-ZLQ {
        left: 0;
        top: 0;
        background-color: #d9d9d9;
        width: 40.9rem;
        height: 0.1rem;
        position: absolute;
      }
      .favourite-course-top-category-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-Bsa {
        letter-spacing: 0.016rem;
        color: #000000;
        width: 80.4rem;
        line-height: 1.25;
        left: 0.5rem;
        top: 0;
        font-size: 1.6rem;
        font-weight: 700;
        font-family: Lexend Deca, 'Source Sans Pro';
        height: 14rem;
        position: absolute;

        .favourite-course-top-category-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-Bsa-sub-0 {
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.25;
          letter-spacing: 0.024rem;
          color: #000000;
        }
        .favourite-course-top-category-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-Bsa-sub-1 {
          font-weight: 700;
          line-height: 1.25;
          letter-spacing: 0.048rem;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 4.8rem;
        }
        .favourite-course-top-category-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-Bsa-sub-2 {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.25;
          letter-spacing: 0.02rem;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
      }
    }
    .auto-group-tt3n-2fE {
      box-shadow: 0.9rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
      padding: 3.4rem 11.2rem 2.8rem 7.4rem;
      width: calc(100% - 8rem);
      height: 29rem;
      display: flex;
      column-gap: 13rem;
      flex-shrink: 0;
      margin: 0rem 4rem 6rem 4rem;
      box-sizing: border-box;
      align-items: center;
      background-color: #429349;
      border-radius: 4rem;

      .auto-group-nye8-JMr {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;

        .mask-group-4M2 {
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          width: 17.8rem;
          height: 17.4rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .angular-bbr {
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 0.2rem;
          line-height: 1.25;
          letter-spacing: 0.024rem;
        }
      }
      .auto-group-bhlp-iwN {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .mask-group-tax {
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          width: 17.8rem;
          height: 17.4rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .node-js-qFJ {
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
          white-space: nowrap;
          margin-left: 0.2rem;
          font-size: 2.4rem;
          letter-spacing: 0.024rem;
          font-family: Lexend Deca, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .auto-group-sdfa-AHa {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .mask-group-KAU {
          height: 17.4rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          width: 17.8rem;
        }
        .html-Fpp {
          white-space: nowrap;
          font-weight: 400;
          line-height: 1.25;
          letter-spacing: 0.024rem;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 0.9rem;
          font-size: 2.4rem;
        }
      }
      .auto-group-ip8x-n44 {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;

        .mask-group-jjz {
          height: 17.4rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          width: 17.8rem;
        }
        .python-5Yx {
          font-weight: 400;
          letter-spacing: 0.024rem;
          color: #ffffff;
          flex-shrink: 0;
          margin-left: 0.2rem;
          font-size: 2.4rem;
          white-space: nowrap;
          line-height: 1.25;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
      }
    }
    .auto-group-msn8-y8Y {
      margin: 0rem 57.7rem 6rem 65rem;
      width: calc(100% - 122.7rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .ellipse-7-haL {
        margin-right: 2.5rem;
        width: 2.3rem;
        height: 2.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .rectangle-9-S28 {
        width: 9.3rem;
        height: 1.8rem;
        cursor: pointer;
        background-color: #ffc600;
        border-radius: 4rem;
        flex-shrink: 0;
      }
    }
    .featured-courses-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-m4Q {
      max-width: 112.5rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2102272511;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 11.1rem 5.3rem 0rem;

      .featured-courses-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-m4Q-sub-0 {
        font-weight: 700;
        line-height: 1.25;
        color: #000000;
        font-family: Lexend Deca, 'Source Sans Pro';
        font-size: 4.8rem;
      }
      .featured-courses-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-m4Q-sub-1 {
        line-height: 1.25;
        text-decoration-line: underline;
        color: #000000;
        font-family: Lexend Deca, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
      }
      .featured-courses-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-m4Q-sub-2 {
        color: #000000;
        font-family: Lexend Deca, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
      }
      .featured-courses-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-m4Q-sub-3 {
        color: #000000;
        font-family: Lexend Deca, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.25;
      }
    }
    .group-8-NM2 {
      margin: 0rem 0rem 8.9rem 2.9rem;
      width: 131.3rem;
      height: 50.1rem;
      border-radius: 4rem;
      flex-shrink: 0;

      .frame-3-hPJ {
        padding: 5.4rem 0rem 5.4rem 4rem;
        height: 100%;
        column-gap: 5.5rem;
        position: relative;
        display: flex;
        align-items: center;
        box-shadow: 0.9rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #429349;
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
        border-radius: 4rem;

        .most-popular-courses-bzU {
          max-width: 25.7rem;
          font-size: 6.4rem;
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .group-4-Xt8 {
          box-sizing: border-box;
          padding: 2rem 1.2rem 1.1rem 2.2rem;
          width: 42.6rem;
          height: 100%;
          box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #000000;
          border-radius: 3rem;
          flex-shrink: 0;

          .mask-group-Fp8 {
            margin: 0rem 0rem 4.5rem 0.3rem;
            width: 37.5rem;
            height: 18.4rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .various-sessions-programming-courses-z12 {
            font-family: Lexend Deca, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.9rem;
            font-size: 1.9rem;
            font-weight: 600;
            line-height: 1.25;
            color: #ffffff;
          }
          .auto-group-exdr-7bS {
            margin-bottom: 1.65rem;
            display: flex;
            align-items: center;

            .army-star-fcx {
              width: 3.5rem;
              height: 2.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .army-star-QaY {
              width: 3.4rem;
              height: 2.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .army-star-ZCY {
              height: 2.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.5rem;
            }
            .army-star-Jfv {
              width: 3.5rem;
              height: 2.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .line-1-G6x {
            height: 0rem;
            object-fit: contain;
            vertical-align: top;
            margin-bottom: 0.85rem;
            width: 38.1rem;
          }
          .auto-group-qg44-D2C {
            display: flex;
            align-items: flex-end;
            width: 100%;

            .item-500-N9z {
              line-height: 1.25;
              color: #ffffff;
              font-family: Lexend Deca, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 29.2rem 0.1rem 0rem;
              font-size: 2.4rem;
              font-weight: 600;
            }
            .flutter-65z {
              width: 3.9rem;
              height: 3.9rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .group-5-BNL {
          box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #000000;
          border-radius: 3rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.7rem 1.2rem 1.1rem 2.2rem;
          width: 42.6rem;
          height: 100%;

          .mask-group-WQc {
            margin: 0rem 0rem 3.3rem 0.6rem;
            width: 37.5rem;
            height: 18.9rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .various-sessions-programming-courses-39e {
            font-weight: 600;
            line-height: 1.25;
            color: #ffffff;
            font-family: Lexend Deca, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.9rem;
            font-size: 1.9rem;
          }
          .auto-group-vtde-xnQ {
            margin-bottom: 1.65rem;
            display: flex;
            align-items: center;

            .army-star-uxY {
              flex-shrink: 0;
              width: 3.5rem;
              height: 2.6rem;
              object-fit: contain;
              vertical-align: top;
            }
            .army-star-56L {
              vertical-align: top;
              flex-shrink: 0;
              width: 3.4rem;
              height: 2.6rem;
              object-fit: contain;
            }
            .army-star-ppc {
              width: 3.5rem;
              height: 2.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .army-star-NbE {
              vertical-align: top;
              flex-shrink: 0;
              width: 3.5rem;
              height: 2.6rem;
              object-fit: contain;
            }
          }
          .line-1-8KW {
            vertical-align: top;
            margin-bottom: 0.85rem;
            width: 38.1rem;
            height: 0rem;
            object-fit: contain;
          }
          .auto-group-znlc-UeG {
            width: 100%;
            display: flex;
            align-items: flex-end;

            .item-500-qji {
              font-weight: 600;
              line-height: 1.25;
              color: #ffffff;
              font-family: Lexend Deca, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 29.2rem 0.1rem 0rem;
              font-size: 2.4rem;
            }
            .flutter-y5E {
              width: 3.9rem;
              height: 3.9rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .group-6-4Ma {
          border-radius: 3rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2rem 1.2rem 1.1rem 2.2rem;
          width: 42.6rem;
          height: 100%;
          box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #000000;

          .mask-group-Bh6 {
            vertical-align: top;
            margin-bottom: 3.2rem;
            width: 37.5rem;
            height: 19.7rem;
            position: relative;
            object-fit: contain;
          }
          .various-sessions-programming-courses-KoJ {
            font-family: Lexend Deca, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.9rem;
            font-size: 1.9rem;
            font-weight: 600;
            line-height: 1.25;
            color: #ffffff;
          }
          .auto-group-6mc8-Tec {
            margin-bottom: 1.65rem;
            display: flex;
            align-items: center;

            .army-star-CcC {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.5rem;
              height: 2.6rem;
            }
            .army-star-kNp {
              width: 3.4rem;
              height: 2.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .army-star-6xU {
              vertical-align: top;
              flex-shrink: 0;
              width: 3.5rem;
              height: 2.6rem;
              object-fit: contain;
            }
            .army-star-FaU {
              height: 2.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.5rem;
            }
          }
          .line-1-QTN {
            height: 0rem;
            object-fit: contain;
            vertical-align: top;
            margin-bottom: 0.85rem;
            width: 38.1rem;
          }
          .auto-group-dswa-kn8 {
            width: 100%;
            display: flex;
            align-items: flex-end;

            .item-500-WWQ {
              line-height: 1.25;
              color: #ffffff;
              font-family: Lexend Deca, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 29.2rem 0.1rem 0rem;
              font-size: 2.4rem;
              font-weight: 600;
            }
            .flutter-SQ4 {
              width: 3.9rem;
              height: 3.9rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .group-7-va8 {
          align-items: center;
          display: flex;
          box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
          width: 42.6rem;
          height: 100%;
          flex-direction: column;
          background-color: #000000;
          border-radius: 3rem;
          flex-shrink: 0;

          .mask-group-4wE {
            height: 22.4rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 2.5rem;
            width: 42.6rem;
          }
          .various-sessions-programming-courses-cC4 {
            flex-shrink: 0;
            margin-left: 1rem;
            font-size: 1.9rem;
            font-weight: 600;
            line-height: 1.25;
            color: #ffffff;
            font-family: Lexend Deca, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-u7yv-wVE {
            box-sizing: border-box;
            padding: 1.9rem 1.2rem 1.1rem 2.2rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-asjt-sdn {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-bottom: 1.65rem;

              .army-star-q4p {
                height: 2.6rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 3.5rem;
              }
              .army-star-nEx {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 3.4rem;
                height: 2.6rem;
              }
              .army-star-XiL {
                width: 3.5rem;
                height: 2.6rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .army-star-5jr {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 3.5rem;
                height: 2.6rem;
              }
            }
            .line-1-e2G {
              width: 38.1rem;
              height: 0rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.85rem;
            }
            .auto-group-dc6g-C3n {
              align-items: flex-end;
              flex-shrink: 0;
              width: 100%;
              display: flex;

              .item-500-x2x {
                line-height: 1.25;
                color: #ffffff;
                font-family: Lexend Deca, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 29.2rem 0.1rem 0rem;
                font-size: 2.4rem;
                font-weight: 600;
              }
              .flutter-Umz {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 3.9rem;
                height: 3.9rem;
              }
            }
          }
        }
      }
    }
    .auto-group-rlyj-HjS {
      align-items: center;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 4.6rem 1.7rem 14.4rem 3.8rem;
      background-color: rgba(255, 198, 0, 0.5);
      flex-shrink: 0;
      margin-bottom: 0.2rem;
      width: 100%;

      .student-feedback-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-pDa {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 13.2rem 3.6rem 0rem;
        max-width: 112.5rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2102272511;

        .student-feedback-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-pDa-sub-0 {
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
        .student-feedback-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-pDa-sub-1 {
          font-weight: 400;
          line-height: 1.25;
          text-decoration-line: underline;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 1.2rem;
        }
        .student-feedback-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-pDa-sub-2 {
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 2rem;
        }
        .student-feedback-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-pDa-sub-3 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
      }
      .group-9-QUc {
        flex-shrink: 0;
        width: 100%;
        height: 50.1rem;
        border-radius: 4rem;

        .frame-3-y1v {
          box-sizing: border-box;
          padding: 5.4rem 0rem 5.4rem 4rem;
          height: 100%;
          overflow: hidden;
          column-gap: 5.5rem;
          border-radius: 4rem;
          width: 100%;
          position: relative;
          display: flex;
          align-items: center;
          box-shadow: 0.9rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;

          .group-4-H2c {
            height: 100%;
            align-items: center;
            display: flex;
            background-color: #000000;
            box-sizing: border-box;
            width: 42.6rem;
            box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
            border-radius: 3rem;
            flex-shrink: 0;
            padding: 3.3rem 1.2rem 1.1rem 2.2rem;
            flex-direction: column;

            .auto-group-6iu4-bZ6 {
              width: calc(100% - 12.5rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 11.8rem 2.1rem 0.7rem;

              .mask-group-j9W {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 3rem;
                width: 8.9rem;
                height: 8.6rem;
                position: relative;
                object-fit: contain;
              }
              .karthick-kk-ui-ux-designer-fYx {
                color: #ffc600;
                font-family: Lexend Deca, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 14.8rem;
                font-size: 1.9rem;
                font-weight: 600;
                line-height: 1.25;
              }
            }
            .in-this-review-feedback-is-conceptualized-as-information-provided-by-an-agent-eg-teacher-peer-book-parent-self-experience-regarding-aspects-of-ones-performance-or-understanding-C36 {
              flex-shrink: 0;
              margin: 0rem 1.1rem 3rem 0rem;
              max-width: 38.1rem;
              font-size: 1.9rem;
              font-weight: 600;
              line-height: 1.25;
              color: #ffffff;
              font-family: Lexend Deca, 'Source Sans Pro';
            }
            .line-1-DD6 {
              margin: 0rem 1.1rem 3rem 0rem;
              width: 38.1rem;
              height: 0rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-dpgc-LoW {
              align-items: center;
              flex-shrink: 0;
              width: 100%;
              height: 3.9rem;
              display: flex;

              .auto-group-dfsj-JEY {
                height: 100%;
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0.1rem 21.4rem 0.1rem 0rem;

                .army-star-pya {
                  width: 3.5rem;
                  height: 2.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .army-star-aC4 {
                  width: 3.4rem;
                  height: 2.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .army-star-ip4 {
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 3.5rem;
                  height: 2.6rem;
                  object-fit: contain;
                }
                .army-star-UYL {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 3.5rem;
                  height: 2.6rem;
                }
              }
              .flutter-ps6 {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 3.9rem;
                height: 3.9rem;
              }
            }
          }
          .group-5-iSg {
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
            box-sizing: border-box;
            width: 42.6rem;
            border-radius: 3rem;
            flex-shrink: 0;
            padding: 3.3rem 0.6rem 1.1rem 2.2rem;
            background-color: #000000;

            .auto-group-6w7r-Evp {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 12.4rem 2.1rem 0.7rem;
              width: calc(100% - 13.1rem);

              .mask-group-aUt {
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 3rem;
                width: 8.9rem;
                height: 8.6rem;
              }
              .karthick-kk-ui-ux-designer-KhN {
                line-height: 1.25;
                color: #ffc600;
                font-family: Lexend Deca, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 14.8rem;
                font-size: 1.9rem;
                font-weight: 600;
              }
            }
            .where-am-i-going-what-are-the-goals-how-am-i-going-what-progress-is-being-made-toward-the-goal-and-where-to-next-what-activities-need-to-be-undertaken-to-make-better-progress-FL8 {
              margin-bottom: 3rem;
              max-width: 39.8rem;
              font-size: 1.9rem;
              font-weight: 600;
              line-height: 1.25;
              color: #ffffff;
              font-family: Lexend Deca, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .line-1-VkG {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.7rem 3rem 0rem;
              width: 38.1rem;
              height: 0rem;
              object-fit: contain;
            }
            .auto-group-ufjk-EC4 {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 0.6rem;
              width: calc(100% - 0.6rem);
              height: 3.9rem;

              .auto-group-yari-NJG {
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0.1rem 21.4rem 0.1rem 0rem;
                height: 100%;

                .army-star-uZ6 {
                  height: 2.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 3.5rem;
                }
                .army-star-Fcx {
                  width: 3.4rem;
                  height: 2.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .army-star-bwi {
                  width: 3.5rem;
                  height: 2.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .army-star-Yrx {
                  width: 3.5rem;
                  height: 2.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .flutter-6tU {
                width: 3.9rem;
                height: 3.9rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .group-6-zU4 {
            width: 42.6rem;
            height: 100%;
            align-items: center;
            box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
            border-radius: 3rem;
            box-sizing: border-box;
            padding: 3.3rem 1.2rem 1.1rem 2.2rem;
            display: flex;
            flex-direction: column;
            background-color: #000000;
            flex-shrink: 0;

            .auto-group-9jw8-8KN {
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 11.8rem 2.1rem 0.7rem;
              width: calc(100% - 12.5rem);
              display: flex;

              .mask-group-TsS {
                margin-right: 3rem;
                width: 8.9rem;
                height: 8.6rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .karthick-kk-ui-ux-designer-cEY {
                font-family: Lexend Deca, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 14.8rem;
                font-size: 1.9rem;
                font-weight: 600;
                line-height: 1.25;
                color: #ffc600;
              }
            }
            .in-this-review-feedback-is-conceptualized-as-information-provided-by-an-agent-eg-teacher-peer-book-parent-self-experience-regarding-aspects-of-ones-performance-or-understanding-8ig {
              font-family: Lexend Deca, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0rem 1.1rem 3rem 0rem;
              max-width: 38.1rem;
              font-size: 1.9rem;
              font-weight: 600;
              line-height: 1.25;
              color: #ffffff;
            }
            .line-1-a4t {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.1rem 3rem 0rem;
              width: 38.1rem;
              height: 0rem;
              object-fit: contain;
            }
            .auto-group-a3ti-hvC {
              width: 100%;
              height: 3.9rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-79me-fME {
                align-items: flex-start;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0.1rem 21.4rem 0.1rem 0rem;
                height: 100%;
                display: flex;

                .army-star-zuJ {
                  width: 3.5rem;
                  height: 2.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .army-star-kNg {
                  flex-shrink: 0;
                  width: 3.4rem;
                  height: 2.6rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .army-star-JQC {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 3.5rem;
                  height: 2.6rem;
                }
                .army-star-eyr {
                  width: 3.5rem;
                  height: 2.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .flutter-D1N {
                vertical-align: top;
                flex-shrink: 0;
                width: 3.9rem;
                height: 3.9rem;
                object-fit: contain;
              }
            }
          }
          .group-7-6qr {
            flex-shrink: 0;
            width: 183.7rem;
            height: 100%;
            position: relative;
            box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);

            .rectangle-11-TRW {
              top: 0;
              box-shadow: 0 1rem 0.4rem rgba(0, 0, 0, 0.25);
              background-color: #000000;
              border-radius: 3rem;
              width: 42.6rem;
              height: 39.3rem;
              position: absolute;
              left: 0;
            }
            .auto-group-ud4y-yue {
              align-items: center;
              width: 39.2rem;
              height: 3.9rem;
              position: absolute;
              left: 2.2rem;
              top: 34.3rem;
              display: flex;

              .auto-group-2irg-uHW {
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0.1rem 21.4rem 0.1rem 0rem;
                height: 100%;
                display: flex;
                align-items: flex-start;

                .army-star-Eag {
                  flex-shrink: 0;
                  width: 3.5rem;
                  height: 2.6rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .army-star-auS {
                  width: 3.4rem;
                  height: 2.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .army-star-viQ {
                  width: 3.5rem;
                  height: 2.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .army-star-5bJ {
                  height: 2.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 3.5rem;
                }
              }
              .flutter-Ej6 {
                flex-shrink: 0;
                width: 3.9rem;
                height: 3.9rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .in-this-review-feedback-is-conceptualized-as-information-provided-by-an-agent-eg-teacher-peer-book-parent-self-experience-regarding-aspects-of-ones-performance-or-understanding-BuE {
              top: 14rem;
              color: #ffffff;
              width: 181.5rem;
              position: absolute;
              font-size: 1.9rem;
              font-weight: 600;
              line-height: 1.25;
              font-family: Lexend Deca, 'Source Sans Pro';
              white-space: nowrap;
              height: 2.4rem;
              left: 2.2rem;
            }
            .line-1-Qmz {
              vertical-align: top;
              width: 38.1rem;
              height: 0rem;
              position: absolute;
              left: 2.2rem;
              top: 31.3rem;
              object-fit: contain;
            }
            .auto-group-3hfa-YtC {
              left: 2.9rem;
              top: 3.3rem;
              display: flex;
              align-items: center;
              width: 38.2rem;
              height: 8.6rem;
              position: absolute;

              .mask-group-692 {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 3rem;
                width: 8.9rem;
                height: 8.6rem;
                position: relative;
              }
              .karthick-kk-ui-ux-designer-34G {
                color: #ffc600;
                font-family: Lexend Deca, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.4rem;
                font-size: 1.9rem;
                font-weight: 600;
                line-height: 1.25;
              }
            }
          }
        }
      }
    }
    .auto-group-gvw4-5Wk {
      padding: 9.7rem 2.2rem 5.1rem 4.1rem;
      display: flex;
      align-items: center;
      background-color: #429349;
      border-radius: 0 0 4rem 4rem;
      box-sizing: border-box;
      width: 100%;
      height: 44.2rem;
      flex-shrink: 0;

      .auto-group-x83e-1QQ {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 8.8rem;
        height: 100%;
        display: flex;

        .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-kMz {
          max-width: 35.9rem;
          font-size: 1.9rem;
          font-weight: 600;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 4.6rem;

          .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-kMz-sub-0 {
            font-family: Lexend Deca, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.25;
            color: #000000;
          }
          .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-kMz-sub-1 {
          }
          .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-kMz-sub-2 {
            font-size: 1.9rem;
            font-weight: 500;
            line-height: 1.25;
            color: #ffffff;
            font-family: Lexend Deca, 'Source Sans Pro';
          }
          .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-kMz-sub-3 {
          }
        }
        .email-kaameshkkgmailcom-Tp8 {
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 2rem 0.7rem;
          font-size: 1.9rem;
          font-weight: 600;
          line-height: 1.25;
        }
        .auto-group-uerx-adr {
          margin-left: 0.1rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .vector-vxc {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.8rem 0.1rem 0rem;
            width: 3.8rem;
            height: 3.6rem;
          }
          .twitterx-4ov {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.2rem;
            width: 5.5rem;
            height: 4.5rem;
            object-fit: contain;
          }
          .instagram-1UG {
            width: 4.5rem;
            height: 4.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .explore-home-courses-about-blog-contact-ZEt {
        margin: 0rem 12rem 1.6rem 0rem;
        max-width: 12.4rem;
        font-size: 1.9rem;
        font-weight: 600;
        line-height: 1.25;
        color: #ffffff;
        font-family: Lexend Deca, 'Source Sans Pro';
        flex-shrink: 0;

        .explore-home-courses-about-blog-contact-ZEt-sub-0 {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
        .explore-home-courses-about-blog-contact-ZEt-sub-1 {
        }
        .explore-home-courses-about-blog-contact-ZEt-sub-2 {
          font-size: 1.9rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
      }
      .category-development-ui-ux-designer-photography-teaching-freelancing-csN {
        font-family: Lexend Deca, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 7.1rem 1.6rem 0rem;
        max-width: 15.1rem;
        font-size: 1.9rem;
        font-weight: 600;
        line-height: 1.25;
        color: #ffffff;

        .category-development-ui-ux-designer-photography-teaching-freelancing-csN-sub-0 {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
          font-family: Lexend Deca, 'Source Sans Pro';
        }
        .category-development-ui-ux-designer-photography-teaching-freelancing-csN-sub-1 {
        }
        .category-development-ui-ux-designer-photography-teaching-freelancing-csN-sub-2 {
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
          font-size: 1.9rem;
        }
      }
      .auto-group-ewpu-GaY {
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 6.5rem;
        width: 39.2rem;
        align-items: center;
        display: flex;

        .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-DVn {
          max-width: 37.8rem;
          font-size: 1.9rem;
          font-weight: 600;
          line-height: 1.25;
          color: #ffffff;
          font-family: Lexend Deca, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 4rem 1.4rem;

          .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-DVn-sub-0 {
            color: #000000;
            font-family: Lexend Deca, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 600;
            line-height: 1.25;
          }
          .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-DVn-sub-1 {
            line-height: 1.25;
            color: #000000;
            font-family: Lexend Deca, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 700;
          }
          .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-DVn-sub-2 {
          }
          .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-DVn-sub-3 {
            color: #ffffff;
            font-family: Lexend Deca, 'Source Sans Pro';
            font-size: 1.9rem;
            font-weight: 500;
            line-height: 1.25;
          }
        }
        .auto-group-wscl-yFz {
          box-sizing: border-box;
          padding: 1.9rem 2.3rem 1.4rem 3.6rem;
          width: calc(100% - 1.4rem);
          display: flex;
          align-items: center;
          background-color: #070707;
          border-radius: 3rem;
          flex-shrink: 0;
          margin-right: 1.4rem;

          .email-us-t84 {
            color: #ffffff;
            font-family: Lexend Deca, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 19.2rem;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.25;
          }
          .flutter-cpk {
            width: 3.9rem;
            height: 3.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .frame-4-tGU {
    background-position: center;
    background-image: url('REPLACE_IMAGE:193:325');
    width: 134.6rem;
    position: absolute;
    left: 1.2rem;
    top: 0.5rem;
    display: flex;
    background-size: cover;
    box-sizing: border-box;
    padding: 1.8rem 40.7rem 3.2rem 38.6rem;
    height: 7.5rem;
    align-items: center;
    background-repeat: no-repeat;

    .home-n6x {
      flex-shrink: 0;
      margin-right: 6.6rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.25;
      color: #ffc600;
      font-family: Lexend Deca, 'Source Sans Pro';
      white-space: nowrap;
    }
    .about-us-uxG {
      margin-right: 7.4rem;
      cursor: pointer;
      color: #000000;
      font-family: Lexend Deca, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.25;
      white-space: nowrap;
    }
    .product-qL8 {
      flex-shrink: 0;
      margin-right: 7.3rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend Deca, 'Source Sans Pro';
      white-space: nowrap;
    }
    .contact-us-aYc {
      color: #000000;
      font-family: Lexend Deca, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.25;
    }
  }
}
