
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 137.4rem;
}.desktop-3-fCx {
  width: 100%;
  height: 75rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0.6rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.desktop-3-fCx .frame-6-b6c {
  width: 367.4rem;
  height: 343.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 4rem;
}
.desktop-3-fCx .frame-6-b6c .vector-RLY {
  width: 3.9rem;
  height: 0.7864rem;
  position: absolute;
  left: 0;
  top: 73.0903rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr {
  width: 124.7rem;
  height: 55.2rem;
  position: absolute;
  left: 6.4rem;
  top: 12.3rem;
  display: flex;
  align-items: flex-end;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-bs4q-4PW {
  margin-right: 5.3rem;
  width: 67.7rem;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-bs4q-4PW .the-leader-in-online-learning-engaging-accessible-online-courses-for-all-AhS {
  margin-bottom: 4.2rem;
  max-width: 54.1rem;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-bs4q-4PW .the-leader-in-online-learning-engaging-accessible-online-courses-for-all-AhS .the-leader-in-online-learning-engaging-accessible-online-courses-for-all-AhS-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-bs4q-4PW .the-leader-in-online-learning-engaging-accessible-online-courses-for-all-AhS .the-leader-in-online-learning-engaging-accessible-online-courses-for-all-AhS-sub-1 {
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-bs4q-4PW .auto-group-bjcq-15n {
  margin-bottom: 4.6rem;
  width: 100%;
  height: 8.2rem;
  position: relative;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-bs4q-4PW .auto-group-bjcq-15n .search-school-online-educational-centers-etc-YLc {
  width: 45.3rem;
  height: 2.5rem;
  position: absolute;
  left: 8.8rem;
  top: 3.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.5);
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-bs4q-4PW .auto-group-bjcq-15n .rectangle-6-pZ2 {
  width: 67.7rem;
  height: 8.1rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.5rem #429349;
  box-sizing: border-box;
  border-radius: 3rem;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-bs4q-4PW .auto-group-bjcq-15n .go-back-Jyz {
  width: 5.9rem;
  height: 7.5rem;
  position: absolute;
  left: 60.4rem;
  top: 0.7rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-bs4q-4PW .auto-group-bjcq-15n .search-dmN {
  width: 4.2rem;
  height: 4.1rem;
  position: absolute;
  left: 2.8rem;
  top: 2.4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-bs4q-4PW .auto-group-xg6y-mMn {
  margin-right: 23.8rem;
  width: calc(100% - 23.8rem);
  height: 14rem;
  display: flex;
  align-items: center;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-bs4q-4PW .auto-group-xg6y-mMn .auto-group-jzoe-hFS {
  width: 32.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-bs4q-4PW .auto-group-xg6y-mMn .auto-group-jzoe-hFS .army-star-SD2 {
  width: 3.9rem;
  height: 2.7rem;
  position: absolute;
  left: 28.3rem;
  top: 10.1rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-bs4q-4PW .auto-group-xg6y-mMn .auto-group-jzoe-hFS .trusted-by-over-15k-users-worldwide-since-2022-290-45-N6g {
  width: 30.2rem;
  height: 14rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-bs4q-4PW .auto-group-xg6y-mMn .auto-group-jzoe-hFS .trusted-by-over-15k-users-worldwide-since-2022-290-45-N6g .trusted-by-over-15k-users-worldwide-since-2022-290-45-N6g-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-bs4q-4PW .auto-group-xg6y-mMn .auto-group-jzoe-hFS .trusted-by-over-15k-users-worldwide-since-2022-290-45-N6g .trusted-by-over-15k-users-worldwide-since-2022-290-45-N6g-sub-1 {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.25;
  color: #ffc600;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-bs4q-4PW .auto-group-xg6y-mMn .auto-group-j8us-orC {
  box-sizing: border-box;
  padding: 10.1rem 0rem 1.2rem 0rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-bs4q-4PW .auto-group-xg6y-mMn .auto-group-j8us-orC .army-star-LbE {
  width: 3.9rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-bs4q-4PW .auto-group-xg6y-mMn .auto-group-j8us-orC .army-star-gf6 {
  width: 3.9rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-bs4q-4PW .auto-group-xg6y-mMn .auto-group-j8us-orC .army-star-S8U {
  width: 3.9rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-deb6-mwS {
  margin-bottom: 1.2rem;
  width: 51.7rem;
  height: 54rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-deb6-mwS .mask-group-ibn {
  width: 51.7rem;
  height: 52.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-deb6-mwS .ellipse-2-TZN {
  width: 4.6rem;
  height: 4.6rem;
  position: absolute;
  left: 5.9rem;
  top: 49.4rem;
  background-color: #305a37;
  border-radius: 2.3rem;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-deb6-mwS .group-2-C1A {
  width: 11.9rem;
  height: 4.6rem;
  position: absolute;
  left: 36.2rem;
  top: 46.4rem;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-deb6-mwS .group-2-C1A .rectangle-5-vC4 {
  width: 11.9rem;
  height: 3.9rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #305a37;
  box-sizing: border-box;
  box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-deb6-mwS .group-2-C1A .k-video-course-C9a {
  width: 3.4rem;
  height: 4rem;
  position: absolute;
  left: 4.5rem;
  top: 0.6rem;
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-deb6-mwS .group-2-C1A .k-video-course-C9a .k-video-course-C9a-sub-0 {
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-deb6-mwS .group-2-C1A .k-video-course-C9a .k-video-course-C9a-sub-1 {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-deb6-mwS .group-2-C1A .computer-nda {
  width: 2rem;
  height: 2.3rem;
  position: absolute;
  left: 1.2rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-deb6-mwS .group-3-i1S {
  box-sizing: border-box;
  padding: 0.6rem 1rem 0.6rem 0.3rem;
  width: 11.9rem;
  height: 3.9rem;
  position: absolute;
  left: 2.9rem;
  top: 1.2rem;
  display: flex;
  align-items: center;
  border: solid 0.2rem #305a37;
  box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-deb6-mwS .group-3-i1S .army-star-ChJ {
  margin-right: 0.1rem;
  width: 3.9rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-deb6-mwS .group-3-i1S .rating-9Me {
  margin-top: 0.2rem;
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-yogp-ZBr .auto-group-deb6-mwS .vector-1-Rpx {
  width: 28.15rem;
  height: 6.3991rem;
  position: absolute;
  left: 8rem;
  top: 42.8rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-xeoe-Lwv {
  width: 212.1rem;
  height: 6rem;
  position: absolute;
  left: 6.4rem;
  top: 75rem;
}
.desktop-3-fCx .frame-6-b6c .auto-group-xeoe-Lwv .rectangle-7-sgx {
  width: 40.9rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d9d9d9;
}
.desktop-3-fCx .frame-6-b6c .auto-group-xeoe-Lwv .favourite-course-top-category-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-2Jx {
  width: 211.6rem;
  height: 6rem;
  position: absolute;
  left: 0.5rem;
  top: 0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.016rem;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-3-fCx .frame-6-b6c .auto-group-xeoe-Lwv .favourite-course-top-category-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-2Jx .favourite-course-top-category-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-2Jx-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-xeoe-Lwv .favourite-course-top-category-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-2Jx .favourite-course-top-category-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-2Jx-sub-1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.048rem;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-xeoe-Lwv .favourite-course-top-category-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-2Jx .favourite-course-top-category-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-2Jx-sub-2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-8ge8-FzL {
  width: 128.8rem;
  height: 29rem;
  position: absolute;
  left: 4.3rem;
  top: 94.2rem;
  box-shadow: 0.9rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #429349;
  border-radius: 4rem;
}
.desktop-3-fCx .frame-6-b6c .auto-group-8ge8-FzL .mask-group-PKr {
  width: 17.8rem;
  height: 17.4rem;
  position: absolute;
  left: 100.7rem;
  top: 3.4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-8ge8-FzL .mask-group-isv {
  width: 17.8rem;
  height: 17.4rem;
  position: absolute;
  left: 69rem;
  top: 3.4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-8ge8-FzL .mask-group-G8k {
  width: 17.8rem;
  height: 17.4rem;
  position: absolute;
  left: 8.3rem;
  top: 3.4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-8ge8-FzL .mask-group-CHJ {
  width: 17.8rem;
  height: 17.4rem;
  position: absolute;
  left: 37.4rem;
  top: 3.4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-8ge8-FzL .node-js-LPW {
  width: 10.2rem;
  height: 3rem;
  position: absolute;
  left: 105rem;
  top: 23.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.024rem;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-fCx .frame-6-b6c .auto-group-8ge8-FzL .bootstraps-q5N {
  width: 13rem;
  height: 3rem;
  position: absolute;
  left: 10.5rem;
  top: 23.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.024rem;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-fCx .frame-6-b6c .auto-group-8ge8-FzL .java-wu6 {
  width: 6.2rem;
  height: 3rem;
  position: absolute;
  left: 76.1rem;
  top: 23.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.024rem;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-fCx .frame-6-b6c .auto-group-8ge8-FzL .python-33-f4Q {
  width: 12.2rem;
  height: 3rem;
  position: absolute;
  left: 41.7rem;
  top: 23.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.024rem;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-fCx .frame-6-b6c .auto-group-ctqz-8Tn {
  width: 14.3rem;
  height: 2.2rem;
  position: absolute;
  left: 63.4rem;
  top: 128.8rem;
  display: flex;
  align-items: center;
}
.desktop-3-fCx .frame-6-b6c .auto-group-ctqz-8Tn .rectangle-9-G4C {
  margin-right: 2.7rem;
  width: 9.3rem;
  height: 1.8rem;
  cursor: pointer;
  background-color: #ffc600;
  border-radius: 4rem;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-ctqz-8Tn .ellipse-7-Pec {
  width: 2.3rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC {
  width: 131.3rem;
  height: 50.1rem;
  position: absolute;
  left: 4.5rem;
  top: 155.2rem;
  border-radius: 4rem;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt {
  box-sizing: border-box;
  padding: 5.4rem 0rem 5.4rem 4rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 5.5rem;
  align-items: center;
  box-shadow: 0.9rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #429349;
  border-radius: 4rem;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .auto-group-gnbe-NmS {
  width: 73.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .auto-group-gnbe-NmS .most-popular-courses-XeL {
  width: 66.8rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 7.65rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .auto-group-gnbe-NmS .group-4-FKS {
  box-sizing: border-box;
  padding: 2rem 1.2rem 1.1rem 2.2rem;
  width: 42.6rem;
  height: 39.3rem;
  position: absolute;
  left: 31.2rem;
  top: 0;
  box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #000000;
  border-radius: 3rem;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .auto-group-gnbe-NmS .group-4-FKS .mask-group-xUk {
  margin: 0rem 0rem 4.5rem 0.3rem;
  width: 37.5rem;
  height: 18.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .auto-group-gnbe-NmS .group-4-FKS .various-sessions-programming-courses-HG8 {
  margin-bottom: 1.9rem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .auto-group-gnbe-NmS .group-4-FKS .auto-group-q3n4-zAY {
  margin-bottom: 1.65rem;
  display: flex;
  align-items: center;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .auto-group-gnbe-NmS .group-4-FKS .auto-group-q3n4-zAY .army-star-LEQ {
  width: 3.5rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .auto-group-gnbe-NmS .group-4-FKS .auto-group-q3n4-zAY .army-star-Gtk {
  width: 3.4rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .auto-group-gnbe-NmS .group-4-FKS .auto-group-q3n4-zAY .army-star-27E {
  width: 3.5rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .auto-group-gnbe-NmS .group-4-FKS .auto-group-q3n4-zAY .army-star-mKi {
  width: 3.5rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .auto-group-gnbe-NmS .group-4-FKS .line-1-vCc {
  margin-bottom: 0.85rem;
  width: 38.1rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .auto-group-gnbe-NmS .group-4-FKS .auto-group-dmta-rrx {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .auto-group-gnbe-NmS .group-4-FKS .auto-group-dmta-rrx .item-500-DSc {
  margin: 0rem 29.2rem 0.1rem 0rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .auto-group-gnbe-NmS .group-4-FKS .auto-group-dmta-rrx .flutter-XiC {
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-5-1dN {
  box-sizing: border-box;
  padding: 2.7rem 1.2rem 1.1rem 2.2rem;
  width: 42.6rem;
  height: 100%;
  box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #000000;
  border-radius: 3rem;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-5-1dN .mask-group-vkL {
  margin: 0rem 0rem 3.3rem 0.6rem;
  width: 37.5rem;
  height: 18.9rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-5-1dN .various-sessions-programming-courses-TEU {
  margin-bottom: 1.9rem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-5-1dN .auto-group-48ay-nGk {
  margin-bottom: 1.65rem;
  display: flex;
  align-items: center;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-5-1dN .auto-group-48ay-nGk .army-star-vtk {
  width: 3.5rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-5-1dN .auto-group-48ay-nGk .army-star-gd2 {
  width: 3.4rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-5-1dN .auto-group-48ay-nGk .army-star-Rac {
  width: 3.5rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-5-1dN .auto-group-48ay-nGk .army-star-BJt {
  width: 3.5rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-5-1dN .line-1-w3A {
  margin-bottom: 0.85rem;
  width: 38.1rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-5-1dN .auto-group-srfe-HMv {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-5-1dN .auto-group-srfe-HMv .item-500-F3r {
  margin: 0rem 29.2rem 0.1rem 0rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-5-1dN .auto-group-srfe-HMv .flutter-mXz {
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-6-Fxx {
  box-sizing: border-box;
  padding: 2rem 1.2rem 1.1rem 2.2rem;
  width: 42.6rem;
  height: 100%;
  box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #000000;
  border-radius: 3rem;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-6-Fxx .mask-group-nT6 {
  margin-bottom: 3.2rem;
  width: 37.5rem;
  height: 19.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-6-Fxx .various-sessions-programming-courses-ynU {
  margin-bottom: 1.9rem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-6-Fxx .auto-group-6dqp-77z {
  margin-bottom: 1.65rem;
  box-sizing: border-box;
  padding-left: 3.5rem;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/army-star-bg.png');
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-6-Fxx .auto-group-6dqp-77z .army-star-Sg4 {
  width: 3.4rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-6-Fxx .auto-group-6dqp-77z .army-star-zSg {
  width: 3.5rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-6-Fxx .auto-group-6dqp-77z .army-star-LWY {
  width: 3.5rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-6-Fxx .line-1-fHv {
  margin-bottom: 0.85rem;
  width: 38.1rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-6-Fxx .auto-group-yhfa-QmJ {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-6-Fxx .auto-group-yhfa-QmJ .item-500-kqA {
  margin: 0rem 29.2rem 0.1rem 0rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-6-Fxx .auto-group-yhfa-QmJ .flutter-HKJ {
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-7-a3W {
  box-sizing: border-box;
  padding-top: 24.9rem;
  width: 42.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #000000;
  border-radius: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mask-group-aCU.png');
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-7-a3W .various-sessions-programming-courses-h88 {
  margin-left: 1rem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-7-a3W .auto-group-mjyt-RK2 {
  box-sizing: border-box;
  padding: 1.9rem 1.2rem 1.1rem 2.2rem;
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-7-a3W .auto-group-mjyt-RK2 .auto-group-tfkp-wHN {
  margin-bottom: 1.65rem;
  box-sizing: border-box;
  padding-left: 3.5rem;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/army-star-bg-RcQ.png');
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-7-a3W .auto-group-mjyt-RK2 .auto-group-tfkp-wHN .army-star-58g {
  width: 3.4rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-7-a3W .auto-group-mjyt-RK2 .auto-group-tfkp-wHN .army-star-ceQ {
  width: 3.5rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-7-a3W .auto-group-mjyt-RK2 .auto-group-tfkp-wHN .army-star-ZpY {
  width: 3.5rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-7-a3W .auto-group-mjyt-RK2 .line-1-6Jg {
  margin-bottom: 0.85rem;
  width: 38.1rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-7-a3W .auto-group-mjyt-RK2 .auto-group-qbja-SdS {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-7-a3W .auto-group-mjyt-RK2 .auto-group-qbja-SdS .item-500-c28 {
  margin: 0rem 29.2rem 0.1rem 0rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .group-8-8cC .frame-3-sJt .group-7-a3W .auto-group-mjyt-RK2 .auto-group-qbja-SdS .flutter-LD2 {
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .featured-courses-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-Y4C {
  width: 198.8rem;
  height: 6rem;
  position: absolute;
  left: 6.9rem;
  top: 137.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-3-fCx .frame-6-b6c .featured-courses-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-Y4C .featured-courses-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-Y4C-sub-0 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .featured-courses-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-Y4C .featured-courses-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-Y4C-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  text-decoration-line: underline;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .featured-courses-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-Y4C .featured-courses-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-Y4C-sub-2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .featured-courses-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-Y4C .featured-courses-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-Y4C-sub-3 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep {
  width: 207rem;
  height: 85.2rem;
  position: absolute;
  left: 0.3rem;
  top: 214.2rem;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .rectangle-13-3h6 {
  width: 136.8rem;
  height: 85.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 198, 0, 0.5);
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .student-feedback-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-BoJ {
  width: 200.4rem;
  height: 6rem;
  position: absolute;
  left: 6.6rem;
  top: 4.6rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .student-feedback-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-BoJ .student-feedback-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-BoJ-sub-0 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .student-feedback-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-BoJ .student-feedback-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-BoJ-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  text-decoration-line: underline;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .student-feedback-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-BoJ .student-feedback-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-BoJ-sub-2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .student-feedback-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-BoJ .student-feedback-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-bibendum-gravida-maecenas-augue-elementum-et-neque-suspendisse-imperdiet-BoJ-sub-3 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me {
  width: 131.3rem;
  height: 50.1rem;
  position: absolute;
  left: 3.8rem;
  top: 20.7rem;
  border-radius: 4rem;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0.9rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 4rem;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-4-XGp {
  width: 183.7rem;
  height: 39.3rem;
  position: absolute;
  left: 4rem;
  top: 5.4rem;
  box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-4-XGp .rectangle-11-Eh2 {
  width: 42.6rem;
  height: 39.3rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 1rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #000000;
  border-radius: 3rem;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-4-XGp .flutter-wrL {
  width: 3.9rem;
  height: 3.9rem;
  position: absolute;
  left: 37.5rem;
  top: 34.3rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-4-XGp .in-this-review-feedback-is-conceptualized-as-information-provided-by-an-agent-eg-teacher-peer-book-parent-self-experience-regarding-aspects-of-ones-performance-or-understanding-So6 {
  width: 181.5rem;
  height: 2.4rem;
  position: absolute;
  left: 2.2rem;
  top: 14rem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-4-XGp .army-star-TiC {
  width: 3.5rem;
  height: 2.6rem;
  position: absolute;
  left: 2.2rem;
  top: 34.4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-4-XGp .army-star-BPJ {
  width: 3.4rem;
  height: 2.6rem;
  position: absolute;
  left: 5.7rem;
  top: 34.4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-4-XGp .army-star-WgU {
  width: 3.5rem;
  height: 2.6rem;
  position: absolute;
  left: 9.1rem;
  top: 34.4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-4-XGp .army-star-Sq2 {
  width: 3.5rem;
  height: 2.6rem;
  position: absolute;
  left: 12.6rem;
  top: 34.4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-4-XGp .line-1-nP6 {
  width: 38.1rem;
  height: 0rem;
  position: absolute;
  left: 2.2rem;
  top: 31.3rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-4-XGp .mask-group-vVJ {
  width: 8.9rem;
  height: 8.6rem;
  position: absolute;
  left: 2.9rem;
  top: 3.3rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-4-XGp .karthick-kk-ui-ux-designer-FXa {
  width: 26.3rem;
  height: 2.4rem;
  position: absolute;
  left: 14.8rem;
  top: 5.2rem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffc600;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-5-85a {
  width: 188.8rem;
  height: 39.3rem;
  position: absolute;
  left: 52.1rem;
  top: 5.4rem;
  box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-5-85a .rectangle-11-Sc4 {
  width: 42.6rem;
  height: 39.3rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 1rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #000000;
  border-radius: 3rem;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-5-85a .flutter-kck {
  width: 3.9rem;
  height: 3.9rem;
  position: absolute;
  left: 37.5rem;
  top: 34.3rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-5-85a .where-am-i-going-what-are-the-goals-how-am-i-going-what-progress-is-being-made-toward-the-goal-and-where-to-next-what-activities-need-to-be-undertaken-to-make-better-progress-Hcg {
  width: 186.6rem;
  height: 2.4rem;
  position: absolute;
  left: 2.2rem;
  top: 14rem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-5-85a .army-star-KJU {
  width: 3.5rem;
  height: 2.6rem;
  position: absolute;
  left: 2.2rem;
  top: 34.4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-5-85a .army-star-Fhv {
  width: 3.4rem;
  height: 2.6rem;
  position: absolute;
  left: 5.7rem;
  top: 34.4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-5-85a .army-star-nSx {
  width: 3.5rem;
  height: 2.6rem;
  position: absolute;
  left: 9.1rem;
  top: 34.4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-5-85a .army-star-vJG {
  width: 3.5rem;
  height: 2.6rem;
  position: absolute;
  left: 12.6rem;
  top: 34.4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-5-85a .line-1-rxc {
  width: 38.1rem;
  height: 0rem;
  position: absolute;
  left: 2.2rem;
  top: 31.3rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-5-85a .mask-group-D2U {
  width: 8.9rem;
  height: 8.6rem;
  position: absolute;
  left: 2.9rem;
  top: 3.3rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-5-85a .karthick-kk-ui-ux-designer-kHJ {
  width: 26.3rem;
  height: 2.4rem;
  position: absolute;
  left: 14.8rem;
  top: 5.2rem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffc600;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-6-q3r {
  box-sizing: border-box;
  padding: 3.3rem 0rem 1.1rem 2.2rem;
  width: 183.7rem;
  height: 39.3rem;
  position: absolute;
  left: 100.2rem;
  top: 5.4rem;
  box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #000000;
  border-radius: 3rem;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-6-q3r .auto-group-8mrv-XxG {
  margin: 0rem 142.6rem 2.1rem 0.7rem;
  width: calc(100% - 143.3rem);
  display: flex;
  align-items: center;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-6-q3r .auto-group-8mrv-XxG .mask-group-TL8 {
  margin-right: 3rem;
  width: 8.9rem;
  height: 8.6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-6-q3r .auto-group-8mrv-XxG .karthick-kk-ui-ux-designer-CHi {
  margin-bottom: 2.4rem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffc600;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-6-q3r .in-this-review-feedback-is-conceptualized-as-information-provided-by-an-agent-eg-teacher-peer-book-parent-self-experience-regarding-aspects-of-ones-performance-or-understanding-j2k {
  margin-bottom: 14.9rem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-6-q3r .line-1-ANx {
  margin-bottom: 3rem;
  width: 38.1rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-6-q3r .auto-group-gjax-7JC {
  margin-right: 142.3rem;
  width: calc(100% - 142.3rem);
  height: 3.9rem;
  display: flex;
  align-items: center;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-6-q3r .auto-group-gjax-7JC .auto-group-gcbe-qzt {
  box-sizing: border-box;
  padding: 0.1rem 21.4rem 0.1rem 0rem;
  width: 35.3rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-6-q3r .auto-group-gjax-7JC .auto-group-gcbe-qzt .army-star-MTS {
  width: 3.5rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-6-q3r .auto-group-gjax-7JC .auto-group-gcbe-qzt .army-star-J7n {
  width: 3.4rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-6-q3r .auto-group-gjax-7JC .auto-group-gcbe-qzt .army-star-FHv {
  width: 3.5rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-6-q3r .auto-group-gjax-7JC .auto-group-gcbe-qzt .army-star-Puv {
  width: 3.5rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-6-q3r .auto-group-gjax-7JC .flutter-kEg {
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-7-E9r {
  box-sizing: border-box;
  padding: 3.3rem 0rem 1.1rem 2.2rem;
  width: 183.7rem;
  height: 39.3rem;
  position: absolute;
  left: 148.3rem;
  top: 5.4rem;
  box-shadow: 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #000000;
  border-radius: 3rem;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-7-E9r .auto-group-ahsj-LCt {
  margin: 0rem 0rem 2.1rem 0.7rem;
  box-sizing: border-box;
  padding: 1.9rem 0rem 1.9rem 11.9rem;
  height: 8.6rem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffc600;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mask-group-pk4.png');
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-7-E9r .in-this-review-feedback-is-conceptualized-as-information-provided-by-an-agent-eg-teacher-peer-book-parent-self-experience-regarding-aspects-of-ones-performance-or-understanding-BjJ {
  margin-bottom: 14.9rem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-7-E9r .line-1-2zp {
  margin-bottom: 3rem;
  width: 38.1rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-7-E9r .auto-group-mrhw-B72 {
  margin-right: 142.3rem;
  width: calc(100% - 142.3rem);
  height: 3.9rem;
  display: flex;
  align-items: center;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-7-E9r .auto-group-mrhw-B72 .auto-group-mhqw-i6x {
  box-sizing: border-box;
  padding: 0.1rem 21.4rem 0.1rem 0rem;
  width: 35.3rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-7-E9r .auto-group-mrhw-B72 .auto-group-mhqw-i6x .army-star-Eb6 {
  width: 3.5rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-7-E9r .auto-group-mrhw-B72 .auto-group-mhqw-i6x .army-star-z4U {
  width: 3.4rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-7-E9r .auto-group-mrhw-B72 .auto-group-mhqw-i6x .army-star-8gU {
  width: 3.5rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-7-E9r .auto-group-mrhw-B72 .auto-group-mhqw-i6x .army-star-5bi {
  width: 3.5rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-rota-iep .group-9-3Me .frame-3-Ax4 .group-7-E9r .auto-group-mrhw-B72 .flutter-pZJ {
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL {
  width: 188.8rem;
  height: 44.2rem;
  position: absolute;
  left: 0.3rem;
  top: 299.6rem;
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .rectangle-15-ZQQ {
  width: 136.8rem;
  height: 44.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #429349;
  border-radius: 0 0 4rem 4rem;
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-tSg {
  width: 109.1rem;
  height: 4rem;
  position: absolute;
  left: 4.1rem;
  top: 9.7rem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-tSg .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-tSg-sub-0 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-tSg .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-tSg-sub-1 {
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-tSg .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-tSg-sub-2 {
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-tSg .contact-us-cell-no-91627358619-i-distributed-of-letters-as-opposed-to-using-content-here-content-generate-tSg-sub-3 {
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .explore-home-courses-about-blog-contact-zGk {
  width: 43.1rem;
  height: 4rem;
  position: absolute;
  left: 48.8rem;
  top: 9.7rem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .explore-home-courses-about-blog-contact-zGk .explore-home-courses-about-blog-contact-zGk-sub-0 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .explore-home-courses-about-blog-contact-zGk .explore-home-courses-about-blog-contact-zGk-sub-1 {
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .explore-home-courses-about-blog-contact-zGk .explore-home-courses-about-blog-contact-zGk-sub-2 {
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .category-development-ui-ux-designer-photography-teaching-freelancing-a8U {
  width: 75.9rem;
  height: 4rem;
  position: absolute;
  left: 73.2rem;
  top: 9.7rem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .category-development-ui-ux-designer-photography-teaching-freelancing-a8U .category-development-ui-ux-designer-photography-teaching-freelancing-a8U-sub-0 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .category-development-ui-ux-designer-photography-teaching-freelancing-a8U .category-development-ui-ux-designer-photography-teaching-freelancing-a8U-sub-1 {
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .category-development-ui-ux-designer-photography-teaching-freelancing-a8U .category-development-ui-ux-designer-photography-teaching-freelancing-a8U-sub-2 {
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-BGg {
  width: 92rem;
  height: 4.5rem;
  position: absolute;
  left: 96.8rem;
  top: 9.7rem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-BGg .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-BGg-sub-0 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-BGg .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-BGg-sub-1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-BGg .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-BGg-sub-2 {
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-BGg .subscribe-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eget-aenean-accumsan-BGg-sub-3 {
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .email-kaameshkkgmailcom-7TA {
  width: 29.7rem;
  height: 2.4rem;
  position: absolute;
  left: 4.8rem;
  top: 30.2rem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .rectangle-14-pcU {
  width: 37.8rem;
  height: 7.2rem;
  position: absolute;
  left: 95.4rem;
  top: 25.4rem;
  background-color: #070707;
  border-radius: 3rem;
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .flutter-YHa {
  width: 3.9rem;
  height: 3.9rem;
  position: absolute;
  left: 127rem;
  top: 27.3rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .email-us-sqe {
  width: 8.8rem;
  height: 2.5rem;
  position: absolute;
  left: 99rem;
  top: 28rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .twitterx-nhi {
  width: 5.5rem;
  height: 4.5rem;
  position: absolute;
  left: 8.8rem;
  top: 34.6rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .instagram-vov {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 14.5rem;
  top: 34.6rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-6-b6c .auto-group-jt7i-eYL .vector-TYx {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 4.2rem;
  top: 35rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-3-fCx .frame-4-wU8 {
  box-sizing: border-box;
  padding: 1.8rem 40.7rem 3.2rem 38.6rem;
  width: 134.6rem;
  height: 7.5rem;
  position: absolute;
  left: 1.2rem;
  top: 0.5rem;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-15-Xtp.png');
}
.desktop-3-fCx .frame-4-wU8 .home-ReC {
  margin-right: 6.6rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffc600;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-4-wU8 .about-us-kRa {
  margin-right: 7.4rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-4-wU8 .product-foS {
  margin-right: 7.3rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-fCx .frame-4-wU8 .contact-us-D4G {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend Deca, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
